<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->
<style type="text/css">
    table {
        width: 100%;
        color: #717375;
        font-family: helvetica;
        line-height: 5mm;
        border-collapse: collapse;
    }
    h2 { margin: 0; padding: 0; }
    p { margin: 5px; }
    .border th {
        border: 1px solid #61a4de;
        color: white;
        background: #337ab7;
        padding: 5px;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
    }
    .border td {
        border: 1px solid #CFD1D2;
        padding: 15px 10px;
        text-align: left;
    }
    .no-border {
        border-right: 1px solid #CFD1D2;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .space { padding-top: 250px; }
    .10p { width: 10%; } .15p { width: 15%; }
    .25p { width: 25%; } .50p { width: 50%; }
    .60p { width: 60%; } .75p { width: 75%; }
</style>
<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm" footer="page;">
    <page_footer>
        <hr />
        <p>Fait a Paris, le </p>
        
      
    </page_footer>
    <table style="vertical-align: top;">
        <tr>
            <td class="60p">
               <strong>EXPÉDITEUR:</strong> ENT-AZS<br /> <BR>
              <strong>Adresse:</strong>  ZA OU BOIS HADENOT<br />
                <strong></strong> 77120 AMILLIS<br /> 
            </td>
            <td class="40p">
                <strong>Entreprise:</strong>{{ bilan.commande.utilisateur.entreprise }}<br />
                <strong>N° Entreprise:</strong>{{ bilan.commande.utilisateur.numEntreprise }}<br />
                 <strong>N° Compte Client</strong> {{bilan.commande.numcompte }}<br />
                <strong>Adresse</strong> {{ bilan.commande.utilisateur.adresse }}<br />
                {{ bilan.commande.utilisateur.ville }} {{ bilan.commande.utilisateur.codpostal }}<br />
         
            </td>
        </tr>
    </table>
    <table style="margin-top: 50px;">
        <tr>
            <td class="50p"><h2> BL Commande n°{{ bilan.commande.id }}</h2></td>
            <td class="50p" style="text-align: right;"></td>
        </tr>

    </table>
    <table style="margin-top: 30px;" class="border">
        <thead>
        <tr>
            <th class="60p">Designation</th>
            <th class="10p">QTE CDEES</th>
            <th class="15p">Prix Decoration</th>
            <th class="15p">ft(SurCoût)</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>

                    <strong>N° Pièce:</strong> {{ bilan.commande.numpiece }}<br/>
                    <strong>Nom de la pièce:</strong> {{ bilan.nompiece }}<br>
                
                    <strong>Quantité entrée:</strong> {{ bilan.qtentre  }}<br>
                    <strong>Quantité sortie:</strong> {{ bilan.qtsort  }}<br>
                 
                    <strong>Nombre de cartons complet : </strong>{{ bilan.crtcomplet  }}<br>
                 
                    <strong>Nombre de cartons incomplet : </strong>{{ bilan.crtincomplet  }}<br>
                    <strong>Nombre de palette: </strong>{{ bilan.nbrpalet  }}<br>
                    <strong>Nom de palette: </strong>{{ bilan.nompalet  }}<br>

                  


            </td>
            <td>{{ bilan.commande.qtecdee }}</td>
            <td>{{ bilan.commande.prixDec }} €</td>
            <td>
                {{ bilan.commande.ft }}</td>

        </tr>
    
        <tr>
            <td colspan="2" class="no-border"></td>

            <td> Frais livraison</td>
            <td> {% if bilan.commande.livAzs == 1 %} 0.00 € {% else %}0.00 €{% endif %}</td>
        </tr>

        <tr>
            <td colspan="2" class="no-border"></td>
            <td style="text-align: center;" rowspan="3"><strong>Total:</strong></td>
            <td>HT :  €</td>
        </tr>

        <tr>
            <td colspan="2" class="no-border"></td>
            <td>TTC :  €</td>
        </tr>
        </tbody>
    </table>
</page>
<div class="container">


    <div class="row">
   </div>
    <!--row-->

</div>