{% extends 'layout-conditionnement/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Créer les BL</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Client</th>
                    <th>N°Commande</th>
                    <th>Quantité</th>
                    <th>Stock</th>
					 <th>Date de livraison</th>
                   



                    <th colspan="2">BL</th>


                </tr>
				 
                {% for commande in commandes %}
                    <tr>

                        <td>{{ commande.utilisateur.username}}</td>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{{ commande.refarticle.quantite }}</td>
                        <td>{% if commande.dateliv %}{{ commande.dateliv|date('Y-m-d') }}{% endif %}</td>

                       
						<td colspan="2">
						
							{% if commande.bl ==1  %}
							  <span class="label label-warning">En verification</span>
							  {% else %}
							
								  <form method="post" action="{{ path('creationbl', { 'id' : commande.id }) }}">
                                <div style="" type="hidden">

                                        <input type="hidden"  class="form-control" name="qtstock" id="qtstock" value="{{ commande.refarticle.quantite }}" required>
                                    <input type="hidden"  class="form-control" name="qtecdee" id="qtecdee" value="{{ commande.qtecdee }}" required>

                                    <input type="hidden"  class="form-control" name="etatlog" id="etatlog" value="{{ commande.etatlog }}" disabled>
                              </div>

                                <input type="submit" class="btn btn-info" value="Creer BL">
                            </form>
								{% endif %}
						 
                        




                        </td>
						
						
						
						
						
						
                    </tr>
                {% endfor %}
				
            </table>

        </div>
    </div>
    <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}