{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
  <style>
      input {
          display: block;
          width: 100%;
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          line-height: normal;
      }
      textarea {
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          overflow: auto;
          min-height: 109px;
          width: 100%;
      }
  </style>
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h2 class="h2">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>
                </div>
            </div>
        </div>
    </div >


    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm" style="    padding: 3% 10%;">
				<br>
				<p style="  background: #ffffff52;  color: #9e9fa0; padding:2%" ><span style="font-weight: bold">Liste Destinataires: </span> admincmd , admintec, adminprod, adminqlt, adminlog , top_admin</p>
				
                    <form action="{{ url('fos_message_thread_new') }}" method="post">
                        {{ form_widget(form) }}

                        <input type="submit" value="ENVOYER" class="btn btn-primary"/>
                    </form>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
