{% extends 'layout-logistique/base.html.twig' %}
{% block body %}
    <style>
        .form_main {
            width: 100%;
        }
        .form_main h4 {
            font-family: roboto;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 15px;
            margin-top: 20px;
            text-transform: uppercase;
        }
        .heading {
            border-bottom: 1px solid #fcab0e;
            padding-bottom: 9px;
            position: relative;
        }
        .heading span {
            background: #9e6600 none repeat scroll 0 0;
            bottom: -2px;
            height: 3px;
            left: 0;
            position: absolute;
            width: 75px;
        }
    </style>
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html" style="padding: 3% 5%">

        <div class="form_main">
            <div class="" ><h4 class="heading"><strong>Liste </strong> Tickets<span></span></h4></div>

            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1info">
                        <div class="panel-body">
                            <table class="table table-striped table-hover">
                                <tr>
                                <tr>
                                    <th>De</th>
                                    <th>Référence commande</th>

                                    <th>Support</th>
                                    <th>Action</th>
                                </tr>

                                </tr>
                                {% for sav in savs %}
                                    <tr>
                                        <td>{{ sav.reference.utilisateur.username }}</td>
                                        <td>{{ sav.reference }}</td>

                                        <td>{{ sav.support }}</td>
                                        <td><a class="btn btn-primary" href="{{ path('ticket-log', { 'id': sav.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a> </td>
                                    </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}