{% extends 'layout-logistique/base.html.twig' %}
{% block body %}

 <div class="col-md-12" style="background:#fff; padding: 2% 15%">
       <img src="{{asset('images/pole (2).jpg')}}" class="img-respensive" style="width:100%"/>
    </div>
   


{% endblock %}