{% extends 'layout-qualite/base.html.twig' %}
{% block body %}

    <style>
        .form_main {
            width: 100%;
        }
        .form_main h4 {
            font-family: roboto;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 15px;
            margin-top: 20px;
            text-transform: uppercase;
        }
        .heading {
            border-bottom: 1px solid #fcab0e;
            padding-bottom: 9px;
            position: relative;
        }
        .heading span {
            background: #9e6600 none repeat scroll 0 0;
            bottom: -2px;
            height: 3px;
            left: 0;
            position: absolute;
            width: 224px;
        }
        .form {
            border-radius: 7px;
            padding: 6px;
        }
        .txt[type="text"] {
            border: 1px solid #ccc;
            margin: 10px 0;
            padding: 10px 0 10px 5px;
            width: 100%;
        }
        .txt_3[type="text"] {
            margin: 10px 0 0;
            padding: 10px 0 10px 5px;
            width: 100%;
        }
        .txt2[type="submit"] {
            background: #242424 none repeat scroll 0 0;
            border: 1px solid #4f5c04;
            border-radius: 25px;
            color: #fff;
            font-size: 16px;
            font-style: normal;
            line-height: 35px;
            margin: 10px 0;
            padding: 0;
            text-transform: uppercase;
            width: 30%;
        }
        .txt2:hover {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            color: #5793ef;
            transition: all 0.5s ease 0s;
        }


    </style>

    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html" style="padding: 3% 5%">
        <div class="row" style="padding: 1% 5%">
            <div class="col-md-8 col-md-offset-1">
                <div class="form_main">
                    <h4 class="heading"><strong>Sujet: </strong> {{ sav.support }} <span></span></h4>
                    <div class="form">
                       <label class="form-control">{{ sav.support }}</label><br>
                        <label class="form-control">{{ sav.reference }}</label><br>
                        <label class="form-control">{{ sav.reference.utilisateur.username }}</label><br>
                        {% for tiket in tikets %}
                    {% if tiket.sender == utilisateur %}
                            <div style="background: #0ed6ff; border-radius: 10px; padding: 2%; margin-bottom: 10px;" >{{ tiket.message }}</div>
                        {% else %}
                            <div style="background: #a9a9a9; border-radius: 10px; padding: 2%; margin-bottom: 10px;" >{{ tiket.message }}</div>
                      {% endif %}
                        {% endfor %}

                        <label style="margin-top: 25px;    font-size: 18px; border-bottom: 2px solid #337ab7;font-family: cursive;color: #337ab7;">Repondre</label>

                        <form action="{{ path('add-ticket-qualite', { 'id': sav.id }) }}" method="post" >
                            <textarea placeholder="votre Message" name="message" id="message" type="text" class="txt_3"></textarea>
                            <input type="submit" value="Envoyer" name="submit" class="txt2">
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endblock %}