<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->
<style type="text/css">
    table {
        width: 100%;
        color: #717375;
        font-family: helvetica;
        line-height: 5mm;
        border-collapse: collapse;
    }
    h2 { margin: 0; padding: 0; }
    p { margin: 5px; }
    .border th {
        border: 1px solid #e6bb95;
        color: white;
        background: #f39e55;
        padding: 5px;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
    }
	.colore {
        border: 1px solid #e6bb95;
        
        background: #f39e55;
        
        
    }
    .border td {
        border: 1px solid #e6bb95;
        padding: 8px 6px;
        text-align: left;
    }
    .no-border {
        border-right: 1px solid #e6bb95;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .space { padding-top: 20px; }
    .10p { width: 10%; }
    .20p { width: 20%; } .15p { width: 15%; }
    .25p { width: 25%; } .50p { width: 50%; }
    .60p { width: 60%; } .75p { width: 75%; }
</style>
<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm" footer="page;">
    
    <table style="vertical-align: top;">
        <tr>
            <td class="60p">
			 <strong>EXPÉDITEUR:</strong> <br/>
             ENT-AZS <br/>
              <strong>ADRESSE:</strong>  ZA OU BOIS HADENOT<br />
                 77120 AMILLIS<br />
                
            </td>
            <td class="40p">
                <strong>Entreprise:</strong>{{ facture.commande.utilisateur.entreprise }}<br />
                <strong>N° Entreprise:</strong>{{ facture.commande.utilisateur.numEntreprise }}<br />
				
                <strong>N° Compte Client:</strong> {{facture.commande.numcompte }}<br />
                <strong>Adresse:</strong> {{ facture.commande.utilisateur.adresse }}<br />
                {{ facture.commande.utilisateur.ville }} {{ facture.commande.utilisateur.codpostal }}<br />
                
            </td>
        </tr>
    </table>
    <table style="margin-top: 50px; ">
        <tr>
            <td class="50p" ><h2 style="background:#ff7600; color:#fff; padding:12 px 12px">Facture n°{{ facture.num }}</h2></td>
            <td class="50p" style="text-align: right;"></td>
        </tr>

    </table>
   <table style="margin-top: 30px; width: 100%" class="border">
        <thead>
        <tr style="background:#ff7600; ">
			<th class="15p">Numéro</th>
            <th class="15p">Date</th>
            <th class="15p">Code Client</th>
            <th class="20p">Date écheance</th>
            <th class="20p">Mode de règlement</th>
            
            <th class="20p">N° de TVA intracom</th>
        </tr>
        </thead>
        <tbody>

        <tr>
			<td>{{ facture.num}}</td>
            <td>

              {{ facture.date|date('d-m-Y')}}
               
            
            </td>
           
            <td>{{ facture.commande.refcdclient}}</td>
			 <td> {{ facture.datech|date('d-m-Y')}}</td>
            <td>{{ facture.regl}}</td>
            <td>{{ facture.notva}}</td>
            

        </tr>
        

       
        </tbody>
    </table>  
  <table style="margin-top: 30px;" class="border">
        <thead>
        <tr>
			<th class="10p"> Code</th>
            <th class="50p">Description</th>
            <th class="10p">Qté</th>
            <th class="10p">P.U.HT</th>
            <th class="10p">Montant HT</th>
            <th class="10p">TVA</th>
        </tr>
        </thead>
        <tbody>

        <tr>
			<td>{{ facture.commande.refarticle}}</td>
            <td> {{ facture.commande.designation }}<br>
            
            </td>
           
           
			 <td>{{ facture.qte }}</td>
            <td>{{ facture.prix }}</td>
			
            <td>{% set mt = facture.qte* facture.prix %} {{ mt }}</td>
            <td>{% set tva = (mt* 20)/100 %} {{ tva }}</td>

        </tr>
        <tr >
            <td colspan="6" class="space" class="no-border"></td>
            
        </tr>
        <tr style="border:1px solid #f39e55;">
            <td colspan="4" class="no-border"></td>

            <td style="background:#f39e55;"> 
			Total HT<br>
				Port HT<br>
				Total HT Net<br>
				Total TVA <br>
				Total TTC<br>
				A comptes
			</td>
            <td style="background:#f9d0ad;"> 
			{{mt}}<br>
				{{facture.transport}}<br>
				{{ mt }}<br>
				{{tva}} <br>
				{% set ttc = (mt+tva)+ facture.transport %} {{ ttc }}<br>
				{% set cmpte=00 %} {{ cmpte }}</td>
        </tr>

        <tr >
            <td colspan="4" class="no-border"></td>
            <td  rowspan="3" style="background:#f39e55; text-align: center;"><strong>Net à Payer:</strong></td>
            <td style="background:#f9d0ad;">{% set net= ttc-cmpte %} {{ net }}€</td>
        </tr>

       
        </tbody>
    </table>
 <h4 style="margin-top: 30px;">Récapitulatif des échéances</h4>
  <table style="margin-top: 6px; width:100%" class="border">
        <thead>
        <tr style="background:#ff7600; ">
			
            <th class="20p">Date écheance</th>
            <th class="50p">Mode de Paiment</th>
            
            <th class="20p">Montant de l'écheance</th>
            <th class="15p">Solde dû</th>
        </tr>
        </thead>
        <tbody>

        <tr>
		
            <td>

               {{ facture.datech|date('d-m-Y')}}
               
            
            </td>
           
            <td>{{ facture.modep}}</td>
			 <td>{{ net }}€ </td>
            <td>{{ net }}€</td>
            
            

        </tr>
        

       
        </tbody>
    </table> 
	<p style="margin-top:30px;">
	En cas de retard de paiement, une pénalité égale à 3 fois le taux d'intérêt légal sera exigible (Décret 2009-138 du 9 Février 2009)
Pour les professionnels, une indemnité minimum forfaitaire de 40 euros pour frais de rec ouvrement sera exigible (Décret 2012-1115 du 9 Octobre 2012)</p>
	</page>
<div class="container">


    <div class="row">
    </div>
    <!--row-->

</div>