{% extends 'layout-facturation/base.html.twig' %}
{% block body %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">  Créer des Factures </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
				<th>N°Commande</th>
                    <th>Nom du client</th>
                    
                     <th>Quantité</th>
                    <th>Stock</th>
                    <th>Désignation</th>
                    <th>Référence</th>

					<th>Facture</th>


                </tr>
                 {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id}}</td>
                        <td>{{ commande.utilisateur.username}}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{{ commande.refarticle.quantite }}</td>
                        <td>{{ commande.designation }}</td>
                        <td>{{ commande.refarticle }}</td>

                       
                       
                      
						<td>   <a href="{{ path('creer-fact', { 'id' : commande.id }) }}" type="button" class="btn btn-primary">
									<em class="glyphicon glyphicon-pencil"></em> Créer facture
								</a>
                        </td>
						



                        </td>
						

                    </tr>
						
	<!-- Modal -->
                            
                                        




                 
                {% endfor %}
            </table>

        </div>
    </div>
  <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}