
<!DOCTYPE html>
<html>
    <head>
<style>
body{
		background-color:  #023c7b !important;
	}
	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-4{
		background: #ff9b00;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-8{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 56%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
	</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <body>
<div class="container contact">
	<div class="row" style="padding: 1% 19%;">
		<div class="col-md-4">
			<div class="contact-info">
				<img src="http://zenika.fr/wp-content/uploads/2018/11/shopping_buy_promotion_list_online_shopping_copy-512.png" style="width: 100%;" alt="image"/>
				<h2>Créer Facture</h2>
				
			</div>
		</div>
		<div class="col-md-8">
			<div class="contact-form">
			 {{ form_start(form)}}
				<div class="form-group">
				  <label class="control-label col-sm-6" for="fname">Mode de règlement</label>
				  <div class="col-sm-10">      
					{{ form_widget(form.regl,{'attr':{'class':'form-control'}}) }}	
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-8" for="lname">Prix</label>
				  <div class="col-sm-10">          
					{{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}	
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-8" for="lname">Mode de paiment</label>
				  <div class="col-sm-10">          
					{{ form_widget(form.modep,{'attr':{'class':'form-control'}}) }}	
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-8" for="lname">Date d'echéance</label>
				  <div class="col-sm-10">          
					{{ form_widget(form.datech,{'attr':{'class':'form-control'}}) }}	
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-8" for="lname">Frais transport</label>
				  <div class="col-sm-10">          
					{{ form_widget(form.transport,{'attr':{'class':'form-control'}}) }}	
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-8" for="lname">No TVA</label>
				  <div class="col-sm-10">          
					{{ form_widget(form.notva,{'attr':{'class':'form-control'}}) }}	
				  </div>
				</div>
				
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Enregistrer</button>
				  </div>
				</div>
			{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
</body>
</html>
