<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->
<style type="text/css">
    table {
        width: 90%;
        color: #717375;

        font-family: helvetica;
        line-height: 2mm;
        border-collapse: collapse;
    }
    h2 { margin: 0;
        font-size: 10px;
        padding: 0; }
    p { margin: 2px;
    font-size: 9px;
    }
    .border th {
        border: 1px solid rgba(185, 185, 185, 0.98);
        color: white;
        background: #006eb7;
        padding: 3px;
        font-weight: normal;
        font-size: 9px;
        text-align: center;
    }
    .border td {

        border: 2px solid #CFD1D2;
        padding: 5px 3px;
        font-size: 10px;
        text-align: left;
    }
    .no-border {
        border-right: 1px solid #CFD1D2;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .space { padding-top: 10px; }
    .10p { width: 10%; } .15p { width: 15%; }
    .25p { width: 25%; } .50p { width: 50%; }
    .60p { width: 60%; } .75p { width: 75%; }
</style>
<page backtop="3mm" backleft="3mm" backright="3mm" backbottom="3mm" footer="page;">

   
	<table style="vertical-align: top;">
        <tr>
            <td class="60p">
              <h2>EXPÉDITEUR:<br><br> ENT-AZS<br /> <BR>
                ZA OU BOIS HADENOT<br /><BR>
                 77120 AMILLIS<br /></h2>

            </td>
            <td class="40p">
              <h2>DESTINATAIRE:{{ palette.commande.utilisateur.username }}<br>
                   <br>
                   N° Compte Client {{palette.commande.numcompte }}<br>
                   </h2>
            </td>
        </tr>
    </table>
    <table style="margin-top: 20px;">
        <tr>
            <td class="50p"><h2>Etiquette AZS{{ palette.numero }}</h2></td>
            <td class="50p" style="text-align: right;"></td>
        </tr>

    </table>
    <table style="margin-top: 30px;" class="border">
        <thead>
        <tr>


            <th class="50p">Quantité rentrée </th>
            <td class="50p" style="text-align: center;">{{ palette.entree }}</td>
           </tr>

        <tr>
            <th class="50p">Quantité sortie</th>
            <td class="50p" style="text-align: center;">{{ palette.sortie }}</td>
        </tr>
        <tr>
            <th class="50p">Quantité Rebus</th>
            <td class="50p" style="text-align: center;">{{ palette.rebus }}</td>
        </tr>
        <tr>
            <th class="50p">Type de palette</th>
            <td class="50p" style="text-align: center;">{{ palette.type }}</td>
        </tr>
        <tr>
            <th class="50p">Hauteur de palette</th>
            <td class="50p" style="text-align: center;">{{ palette.hauteurp }}</td>

        </tr>
        <tr>
            <th class="50p">Nombre de palette</th>
            <td class="50p" style="text-align: center;">{{ palette.nbrp }}</td>
        </tr>
        <tr>
            <th class="50p">Poids total</th>
            <td class="50p" style="text-align: center;">{{ palette.poid }}</td>
        </tr>

        <tr>
            <th class="50p">Gerbable</th>
            <td class="50p" style="text-align: center;">{% if palette.gerbable %}Oui{% else %}Non{% endif %}</td>
        </tr>

        </thead>
        <tbody>

        <tr>







        </tr>







        </tbody>
    </table>
</page>
<div class="container">


    <div class="row">
   </div>
    <!--row-->

</div>