{% extends 'layout-logistique/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">   Gestion des BL </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
				<th>N°Commande</th>
                    <th>Nom du client</th>
                    <th>Nom de la pièce</th>
                    <th>Qté Entrée</th>
                    <th>Qté Sortie</th>
                    

					<th>BL</th>


                </tr>
                {% for bl in bilan %}
                    <tr>
                        <td>{{ bl.commande.id}}</td>
                        <td>{{ bl.commande.utilisateur.username}}</td>
                        <td>{{ bl.nompiece }}</td>
                        <td>{{ bl.qtentre }}</td>
                        <td>{{ bl.qtsort }}</td>
                       

                       
                       
                      
						<td> {%if bl.etat==1 %}<a href="{{ path('Cond-BLPDF', { 'id' : bl.id }) }}" class="btn btn-danger" target="_blank">BL</a> {% endif %}</td>
					

                        </td>
						

                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
  <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}