{% extends 'layout-logistique/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Production contrôlées acceptées</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Client</th>
                    <th>N°Commande</th>
                    <th>Quantité</th>
                    <th>Stock</th>
                    <th>Désignation</th>
                    
                    <th>Production</th>
                    <th >Mise à jour du stock</th>
					 <th >Marchandise</th>
                    <th>Action</th>


                </tr>
                {% for commande in commandes %}
                    <tr>

                        <td>{{ commande.utilisateur.username}}</td>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{{ commande.refarticle.quantite }}</td>
                        <td>{{ commande.designation }}</td>
                        
                        <td>{% if  commande.etatprod ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                        <td>

                            {% if  commande.misejour ==1  %}
                                <span class="label label-success">Effectuée</span>{% else %}




                          <form method="post" action="{{ path('mise-a-jour',{ 'id' : commande.id }) }}">
                                <div style="" type="hidden">

                                        <input type="hidden"  class="form-control" name="qtstock" id="qtstock" value="{{ commande.refarticle.quantite }}" required>
                                    <input type="hidden"  class="form-control" name="qtecdee" id="qtecdee" value="{{ commande.qtecdee }}" required>

                                    <input type="hidden"  class="form-control" name="etatlog" id="etatlog" value="{{ commande.etatlog }}" required>
                              </div>

                                <input type="submit" class="btn btn-info" value="Mise à jour">
                            </form>
                            {% endif %}
                        </td>
						   <td>

                            {% if  commande.marchandise ==1  %}
                                <span class="label label-success">Effectuée</span>{% else %}




                          <form method="post" action="{{ path('marchandise',{ 'id' : commande.id }) }}">
                                <div style="" type="hidden">

                                        <input type="hidden"  class="form-control" name="marchandise" id="marchandise" value="{{ commande.marchandise }}" required>
                                </div>

                                <input type="submit" class="btn btn-success" value="Marchandise">
                            </form>
                            {% endif %}
                        </td>
                        <td colspan="2">
						  {% if  commande.etiq ==1  %}<span class="label label-success">Déjà effectuée</span>{% else %}
                            <button href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ commande.id }}">
                                Etq
                            </button>
	{% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="myModal{{ commande.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="    background: #e6ecf3de;">
                                        <div class="modal-header" style="    background: #479de8;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Donner une étiquette {{ commande.id }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-sm-12">
                                                <form method="post" action="{{ path('etiquette', { 'id' : commande.id }) }}">
                                                    <div class="form-group">
                                                        <label for="validate-text">Quantité rentrée</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="entree" id="entree" placeholder="Quantité rentrée" required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Quantité sortie</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="sortie" id="sortie" placeholder="Quantité sortie">
                                                            <span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Quantité Rebus</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="rebus" id="rebus" placeholder="Quantité Rebus">
                                                            <span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Type de palette</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="type" id="type" placeholder="Type de palette"  required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Hauteur de palette</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="hauteurp" id="hauteurp" placeholder="Hauteur de palette"  required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Nombre de palette</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="nbrp" id="nbrp" placeholder="Nombre de palette"  required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Poids total</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="poid" id="poid" placeholder="Poids total"  required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-email">Nbre de carton incomplet</label>
                                                        <div class="input-group" data-validate="email">
                                                            <input type="text" class="form-control" name="crt" id="crt" placeholder="Nbre de carton incomplet" required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="checkbox" id="gerbable" name="gerbable"
                                                               value="1"  />
                                                        <label for="scales">Gerbable</label>
                                                    </div>

                                                    <input type="submit" class="btn btn-info" value="Enregistrer">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="  border-top:none;">

                                        </div>
                                    </div>
                                </div>
                            </div>




                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}