{% extends 'layout-logistique/base.html.twig' %}
{% block body %}
<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading"style="background-color: #bcdbf5;">
        <h3 class="panel-title">  Liste Stockages </h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Référence</th>
                <th>Désignation</th>
                <th>Type</th>
                <th>Quantité</th>



            </tr>
            {% for stockage in stockages %}
                <tr>
                    <td><a href="{{ path('stockage_show', { 'id': stockage.id }) }}">{{ stockage.id }}</a></td>
                    <td>{{ stockage.utilisateur.username}}</td>
                    <td>{{ stockage.reference }}</td>
                    <td>{{ stockage.designation }}</td>
                    <td>{{ stockage.type }}</td>
                    <td>{{ stockage.quantite }}</td>

                </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}