{% extends 'layout-logistique/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">Liste des étiquettes</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>N°Commande</th>
                    <th>Nom Client</th>
                    <th>Qté.Entrée</th>
                    <th>Qté.Sortie</th>

                    <th>Type de palette</th>
                    <th>Hauteur de palette</th>

                    <th>Action</th>


                </tr>
                {% for palette in palettes %}
                    <tr>

                        <td>{{ palette.commande.id }}</td>
                        <td>{{ palette.commande.utilisateur.username}}</td>
                        <td>{{ palette.entree }}</td>
                        <td>{{ palette.sortie }}</td>

                        <td>{{ palette.type }}</td>
                        <td>{{ palette.hauteurp }}</td>

                        <td>
                            <a href="{{ path('EtiqtPDF', { 'id' : palette.id }) }}" class="btn btn-danger" target="_blank">Etiquette</a>

                        </td>

                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}