{% extends 'layout-logistique/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Clients Non Facturés </h3>
        </div>
       <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Client</th>
                    <th>N°Commande</th>
                    <th>Quantité</th>
                    <th>Mode paiement</th>
                    <th>Transport</th>
                    <th>Date d'échéance</th>
                    
                    <th >Facturation</th>
                   


                </tr>
                {% for fact in factures %}
                    <tr>

                        <td>{{ fact.commande.utilisateur.username}}</td>
                        <td>{{ fact.commande.id }}</td>
                        <td>{{ fact.commande.qtecdee }}</td>
                        <td>{{ fact.modep }}</td>
                        <td>{{ fact.transport }}</td>
                        <td>{{ fact.datech |date('Y-m-d')}}</td>
                        <td>

                            {% if  fact.etat ==1  %}
                                <span class="label label-warning">déjà facturé</span>{% else %}
                                <form method="post" action="{{ path('facturation',{ 'id' : fact.id }) }}">
                                    <div style="" type="hidden">

                                        <input type="hidden"  class="form-control" name="etatlog" id="etatlog" value="{{ fact.etat }}" required>
                                    </div>

                                    <input type="submit" class="btn btn-info" value="facturer">
                                </form>
                            {% endif %}
                        </td>
                        
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}