{% extends 'layout-production/base.html.twig' %}
{% block body %}
    <style>
        .modal-header {
            padding: 11px;
            border-bottom: 1px solid #e5e5e5;
            background: #a0cbf1;
        }
    </style>
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">Conditionnement </h3>
        </div>

        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>

                    <th>N°Commande</th>
                    <th>Nom du client</th>
                    <th>Quantité pièces cmdé</th>
                    <th>Désignation</th>
                    <th>Référence de la pièce </th>
                    <th>Conditionnement </th>
                    <th colspan="2">Spécification</th>



                </tr>
                {% for commande in commandes %}
                    {% if commande.conditionnement != null %}
                        <tr>

                            <td>{{ commande.id }}</td>
                            <td>{{ commande.utilisateur.username}}</td>

                            <td>{{ commande.qtecdee }}</td>
                            <td>{{ commande.designation }}</td>
                            <td>{{ commande.refarticle }}</td>

                            <td>{% if  commande.conditionnement ==1  %}<span class="label label-success">Normal</span>{% elseif commande.conditionnement ==2 %}<span class="label label-danger">Spécifique </span>{% endif %} </td>

                            <td colspan="2">{% if  commande.conditionnement ==1  %}<span class=""> </span>
                                {% elseif commande.conditionnement ==2 %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ commande.id }}">
                                       <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>


                                {% endif %} </td>


                            <!-- Modal -->
                            <div class="modal fade" id="{{ commande.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" style="font-weight:700 ">Description Conditionnement spécifique</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ commande.description }}
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </tr>
                    {% endif %}
                {% endfor %}
            </table>



        </div>


    </div>





{% endblock %}