<div class="col-md-3">

    <div class="list-group">
        <a href="index.html" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Gestion Commande
        </a>
        <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> creer une commande</a>
        <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> suivi de commande</a>
    </div>


    <div class="list-group">
        <a href="index.html" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           Support
        </a>
        <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Support général</a>
        <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Alert depassement date</a>
        <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Alerte Fabrication </a>
    </div>

</div>
