{% trans_default_domain 'FOSUserBundle' %}


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-8" style="margin-top: 8%">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        S'inscrire</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-5 separator social-login-box"> <br />
                            <img src="http://www.solutions3dl.com/skins/solutions3dl/images/img/clients.png" class="img-respensive" style="width:70%">
                            <img src="https://i1.wp.com/wordpress.mqcv.fr/wp-content/uploads/2015/01/inscriptionacm.png?fit=300%2C300&ssl=1&w=640" class="img-respensive" style="width:100%">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-7 login-box">
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.entreprise) }}
                                    {{ form_widget(form.entreprise,{  'attr': { 'class' : 'form-control','placeholder': 'Nom de votre entreprise' } } )}}

                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.num_entreprise) }}
                                    {{ form_widget(form.num_entreprise,{  'attr': { 'class' : 'form-control','placeholder': 'N°SIRET' } } )}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.sex) }}
                                    {{ form_widget(form.sex,{  'attr': { 'class' : 'form-control','placeholder': 'sex' } } )}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.username) }}
                                    {{ form_widget(form.username,{  'attr': { 'class' : 'form-control','placeholder': 'Votre nom' } } )}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.prenom) }}
                                    {{ form_widget(form.prenom,{  'attr': { 'class' : 'form-control','placeholder': 'Votre prenom' } } )}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.region) }}
                                    {{ form_widget(form.region,{  'attr': { 'class' : 'form-control' } } )}}

                                </div>
                            </div>
                           
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.adresse) }}
                                    {{ form_widget(form.adresse,{  'attr': { 'class' : 'form-control','placeholder': 'Votre adresse' } } )}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.codpostal) }}
                                    {{ form_widget(form.codpostal,{  'attr': { 'class' : 'form-control','placeholder': 'Votre code postal' } } )}}

                                </div>
                                <div class="col-md-3">
                                    <label for="firstname" class=" control-label">(ex:75000)</label>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.ville) }}
                                    {{ form_widget(form.ville,{  'attr': { 'class' : 'form-control','placeholder': 'Votre ville' } } )}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.tel) }}
                                    {{ form_widget(form.tel,{  'attr': { 'class' : 'form-control','placeholder': 'Votre numéro de télephone' } } )}}

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-9">
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email,{  'attr': { 'class' : 'form-control','placeholder': 'Votre email' } } )}}
                                </div>
                            </div>


                            <div class="form-group">
                               <div class="col-md-9">
                                    {{ form_errors(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first,{  'attr': { 'class' : 'form-control','placeholder': 'Mot de passe' } } )}}
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-9">
                                    {{ form_errors(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second,{  'attr': { 'class' : 'form-control','placeholder': 'Confirmation du mot de passe' } } )}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">

                                    {{ form_errors(form.cgu) }}
                                    {{ form_widget(form.cgu )}}
                                    <label for="firstname" class=" control-label">je reconnais avoir lu et accepter les CGU</label>

                                </div>
                            </div>


                            <div>
                                <button type="submit" class="btn btn-labeled btn-primary" id="_submit" name="_submit" style="float: right;">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Inscrire
                                </button>




                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".social-login-box").height( $(".login-box").height() - 160 );
    });
</script>
 
 
 
 