<div class="col-md-3">

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           GESTION BL
        </a>
        <a href="{{ path('creer-bl') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> CRÉER LES BL</a>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            ACCES SUPERVISION
        </a>
        <a href="{{ path('aperçu-prod') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Aperçu Production</a>
        <a href="{{ path('aperçu-log') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Aperçu Logistique</a>

    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="list-group" style="display:none">

        </div>

    {% else %}
        <div class="list-group">
            <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                AZS AU QUOTIDIEN
            </a>
            <a href="{{ path('fos_message_inbox') }}" class="list-group-item">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Messagerie interne</a>
         </div>
    {% endif %}


</div>
