{% extends 'layout-logistique/base.html.twig' %}
{% block body %}
    <style>
        .jumbotron {

            color: white !important;
            text-align: center;
            background-color: #337ab7 !important;
        }
        .well {
            background-color: #89beec;
            border: 1px solid #e3e3e3;
            padding: 5%;
        }
        textarea.form-control {

            min-height: 109px;
        }
        .btn-primary {
            color: #fff;
            background-color: #034e8e !important;
            border-color: #337ab7 !important;
        }
    </style>


    <div class="" style="background:white; padding: 5% ">
        <div class="jumbotron jumbotron-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            Messagerie  Interne</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="subject">
                                        Votre demande concerne</label>
                                    {{ form_widget(form.pole,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        Sujet</label>{{ form_widget(form.sujet,{'attr':{'class':'form-control'}}) }}

                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Message</label>
                                    {{ form_widget(form.message,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                    Envoyer Message</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
        <div class="">

            <div class="row">


                <div class="col-md-12">

                    <div class="table-responsive">


                        <table id="mytable" class="table table-bordred table-striped">

                            <thead>

                            <th><input type="checkbox" id="checkall" /></th>
                            <th>De</th>
                            <th>Sujet</th>


                            <th>Action</th>

                            </thead>
                            <tbody>
                            {% for messagerie in messageries %}
                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td> {{ messagerie.utilisateur.pole }} </td>
                                    <td> {{ messagerie.sujet }} </td>


                                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-danger btn-xs" data-title="Edit" data-toggle="modal" data-target="#{{ messagerie.id }}" ><span class="glyphicon glyphicon-eye-open"></span></button></p></td>
                                </tr>
                                <div class="modal fade" id="{{ messagerie.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="background: #bddcf7;">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                                <h4 class="modal-title custom_align" id="Heading" style="font-weight: 700;">{{ messagerie.sujet }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <div class="form-control "><span style="font-weight: 700;color: #0759a2;">De: </span>{{ messagerie.utilisateur.pole }}</div>
                                                </div>
                                                <div class="form-group">


                                                </div>
                                                <div class="form-group">
                                                    <div rows="2" class="form-control" style="min-height: 150px" >{{ messagerie.message }}</div>


                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>

                            {% endfor %}



                            </tbody>

                        </table>

                        <div class="clearfix"></div>
                        <ul class="pagination pull-right">
                            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

    </div>




    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Modifier vos détails</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="Mohsin">
                    </div>
                    <div class="form-group">

                        <input class="form-control " type="text" placeholder="Irshad">
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Mettre à jour</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Supprimer cette entrée</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Êtes-vous sûr de vouloir supprimer cet enregistrement?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Oui</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Non</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}