{% extends 'layout-technique/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">  Commandes reçues</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nom du client</th>
                    <th>N°Commande client</th>
                    <th>Quantité pièces cmdé</th>
                    <th>Marchandise</th>
                    <th>Ecran </th>

                     <th>Etat de production</th>


                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.utilisateur.username}}</td>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{% if  commande.marchandise ==1  %}<span class="label label-success">oui</span>{% else %}<span class="label label-danger">non </span>{% endif %}</td>
                        <td>{% if  commande.ecran ==1  %}<span class="label label-success">oui</span>{% else %}<span class="label label-danger">non </span>{% endif %}</td>

                        <td>{% if  commande.etatprod ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>

                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}