{% extends 'layout-technique/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">  Commandes reçues</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nom du client</th>
                    <th>N°Commande client</th>
                    <th>Quantité pièces cmdé</th>
                    <th>Désignation</th>
                      <th>Date de départ </th>
                    <th>Date de livraison </th>

                    <th>Etat</th>
                    <th>Action</th>

                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.utilisateur.username}}</td>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{{ commande.designation }}</td>
                          <td>{{ commande.datedep|date('Y-m-d') }}</td>
                        <td>{{ commande.dateliv|date('Y-m-d') }}</td>

                        <td>{% if  commande.etatcomd ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                        <td>
                            <a href="{{ path('commandes_tec', { 'id': commande.id }) }}" class="btn btn-info"><em class="glyphicon glyphicon-edit"></em></a>





                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}