<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="symfony test" />

        <title>{% block title %}Application{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" >


        {% endblock %}

        <link rel="icon" type="image/x-icon" href="" />
    </head>
    <body>
    {% include"layout-qualite/header.html.twig" %}
    <section id="main">
        <div class="container" style="width: 95%;">
            <div class="row">
{% include"layout-qualite/menu.html.twig" %}
        <div class="col-md-9">
        {% block body %}{% endblock %}
       </div>

            </div>
        </div>
    </section>
    {% include"layout-qualite/footer.html.twig" %}
        {% block javascripts %}

            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

            <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
