<div class="col-md-3">

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           GESTION COMMANDE
        </a>
        <a href="{{ path('comd-reçu') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commandes Reçues</a>
        <a href="{{ path('comd-accepter') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commandes Acceptées</a>
        <a href="{{ path('retouche-qualite') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Retouches production</a>
        <a href="{{ path('retouche-fin') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Retouches Terminées</a>
  <a href="{{ path('suiviqlt') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Suivi Commande</a>

    </div>


    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          GESTION CLIENT
        </a>
        <a href="{{ path('statistiqueclientq') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> statistique client</a>
        <a href="{{ path('inbox-qualite') }}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> SAV Client</a>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            ACCES SUPERVISION
        </a>
        <a href="{{ path('prod-encours') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Aperçu Production</a>
        <a href="{{ path('aperçu-logq') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Aperçu Logistique</a>

    </div>


    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="list-group" style="display:none">

        </div>

    {% else %}
        <div class="list-group">
            <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                AZS AU QUOTIDIEN
            </a>
            <a href="{{ path('fos_message_inbox') }}" class="list-group-item">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Messagerie interne</a>
         </div>
    {% endif %}


</div>
