<div class="col-md-3">

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            CONTROLE PRODUCTION
        </a>
        <a href="{{ path('comd-prod-reçu') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Production contrôlées acceptées</a>
    <a href="{{ path('gestion-bl') }}" class="list-group-item">
	<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Listes BL</a>
    
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            CONDITIONNEMENT
        </a>

        <a href="{{ path('gestion-etiquette') }}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> GESTION DES ETIQUETTES</a>

    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            STAT STOCKAGE
        </a>
        <a href="{{ path('stock-actuel') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> STOCKS ACTUEL</a>

    </div>


    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            GESTION CLIENT
        </a>

        <a href="{{ path('inbox-logistique') }}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> SAV Client</a>

    </div>


    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            ACCES SUPERVISION
        </a>
        <a href="{{ path('comd-log-reçu') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Aperçu Reception Commandes</a>
        <a href="{{ path('comd-log-accepter') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Aperçu Logistique</a>

    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="list-group" style="display:none">

        </div>

    {% else %}
        <div class="list-group">
            <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                AZS AU QUOTIDIEN
            </a>
            <a href="{{ path('fos_message_inbox') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Messagerie interne</a>
        </div>
    {% endif %}




</div>
