{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Entreprise</th>
                <th>Numentreprise</th>
                <th>Sexe</th>
                <th>Prénom</th>
                <th>Région</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Tél</th>
                <th>Cgu</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.entreprise }}</td>
                <td>{{ user.numEntreprise }}</td>
                <td>{{ user.sex }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.region }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.codpostal }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.tel }}</td>
                <td>{% if user.cgu %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
        </li>
    </ul>
{% endblock %}
