{% extends 'layout-logistique/base.html.twig' %}

{% block body %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">

    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Listes client</h3>
        </div>
        <div class="panel-body">
            <table class="points_table table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-xs-2">Nom</th>
                    <th class="col-xs-2">Prénom</th>
                    <th class="col-xs-2">Email</th>
                    <th class="col-xs-2">Adresse</th>
                    <th class="col-xs-2">Activation</th>
                    <th class="col-xs-2">Validation</th>


                </tr>
                </thead>

                <tbody class="points_table_scrollbar">

                {% for user in users %}
                    <tr class="odd">
                        <td class="col-xs-2">{{ user.username }}</td>
                        <td class="col-xs-2">{{ user.prenom }}</td>
                        <td class="col-xs-2">{{ user.email }}</td>
                        <td class="col-xs-2">{{ user.adresse }}</td>
                        <td class="col-xs-2">{% if user.enabled %}<span class="label label-success">Active</span>{% else %}<span class="label label-danger">Désactivée</span>{% endif %}</td>
                        <td class="col-xs-2">{% for role in user.roles if role != 'ROLE_USER' %}
                                <span class="label label-primary">Validé</span>
                            {% endfor %}</td>

                    </tr>

                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>


{% endblock %}