{% extends '::base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Listes Commandes</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>num commande</th>
                    <th>utilisateur</th>
                    <th>N° compte client</th>
                    <th>N°piece</th>
                    <th>date souhaite</th>

                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.utilisateur.name }}</td>
                        <td>{{ commande.numcompte }}</td>
                        <td>{{ commande.numpiece }}</td>
                        <td>{% if commande.datedep %}{{ commande.datedep|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}