Hello World!


    <ul>
        <li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('gestion_client') }}">Espace client</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Espace client</a>
            {% endif %}
        </li>
        <li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('gestion_pole-admin') }}">Votre Espace</a>
            {% else %}
                <a href="{{ path('fos_user_security_loginadmin') }}">Espace Admin</a>
            {% endif %}
        </li>
    </ul>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username},'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>


{% endif %}