{% extends '::base.html.twig' %}
{% block body %}

    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bienvenue Au Pôle Production
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                    <tr>

                        <th>Produit</th>
                        <th>image</th>
                        <th data-breakpoints="xs">Prix </th>
                        <th data-breakpoints="xs">quantité</th>
                        <th data-breakpoints="xs">designation</th>

                        <th data-breakpoints="xs sm md" data-title="DOB">Date ajoute</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-expanded="true">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>


                        <td>test</td>
                    </tr>
                    <tr data-expanded="true">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>


                        <td>test</td>
                    </tr>
                    <tr data-expanded="true">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>


                        <td>test</td>
                    </tr>

                    <tr data-expanded="true">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>


                        <td>test</td>
                    </tr>
                    <tr data-expanded="true">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>


                        <td>test</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}