<div class="col-md-3">


	 <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Gestion Facturation
        </a>
		<a href="{{ path('gestion-fact') }}" class="list-group-item">
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Créer Facture</a>
        <a href="{{ path('list-facture') }}" class="list-group-item">
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Clients Facturés</a>
        <a href="{{ path('clients-non-facture') }}" class="list-group-item">
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Non Facturés</a>
    
    </div>


    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Gerer BL
        </a>
       <a href="{{ path('gestion-bl-ft') }}" class="list-group-item">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Listes BL</a>

    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="list-group" style="display:none">

        </div>

    {% else %}
        <div class="list-group">
            <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                AZS AU QUOTIDIEN
            </a>
            <a href="{{ path('fos_message_inbox') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Messagerie interne</a>
        </div>
    {% endif %}




</div>
