{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mails list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Psw</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for mail in mails %}
            <tr>
                <td><a href="{{ path('mail_show', { 'id': mail.id }) }}">{{ mail.id }}</a></td>
                <td>{{ mail.email }}</td>
                <td>{{ mail.username }}</td>
                <td>{{ mail.psw }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mail_show', { 'id': mail.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('mail_edit', { 'id': mail.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mail_new') }}">Créer un nouveau email</a>
        </li>
    </ul>
{% endblock %}
