{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ mail.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ mail.username }}</td>
            </tr>
            <tr>
                <th>Psw</th>
                <td>{{ mail.psw }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mail_edit', { 'id': mail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
