{% extends 'layout-commande/base.html.twig' %}
{% block body %}
<style>
a {
    color: #f4f4f4;
    text-decoration: none;
}
</style>
<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">  Commandes reçues</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover" id="table"
                       data-toggle="table"
                       data-search="true"
                       data-filter-control="true"
                       data-show-export="true"
                       data-click-to-select="true"
                       data-toolbar="#toolbar">

                    <thead>
                <tr>

                    <th data-field="id" data-filter-control="select" data-sortable="true">Num</th>
                    <th data-field="prenom" data-filter-control="input" data-sortable="true">Client</th>
                    <th data-field="date" data-filter-control="select" data-sortable="true">Départ</th>
                    <th data-field="dateliv" data-filter-control="select" data-sortable="true">Livraison</th>
                    <th data-field="qte" data-filter-control="select" data-sortable="true">Quantité</th>
                    <th data-field="designation" data-filter-control="select" data-sortable="true">Désignation</th>
                    <th data-field="etat" data-filter-control="select" data-sortable="true">Etat</th>

                    <th data-field="note" data-sortable="true" data-formatter="TableActions">Action</th>

                </tr>
                </thead>
                <tbody>

                {% for commande in commandes %}
                    <tr>
                         <td>{{ commande.id }}</td>
                       <td>{{ commande.utilisateur.username}}</td>
                       
                        <td>{{ commande.datedep|date('Y-m-d') }}</td>
                        <td>{{ commande.dateliv|date('Y-m-d') }}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{{ commande.designation }}</td>
                        <td >{% if  commande.etatcomd ==1  %}Validé{% else %}En attente {% endif %} </td>
                        <td class='clickable-row' data-href='{{ path('commandes_valid1', { 'id': commande.id }) }}'>Modifier</td>

                    </tr>

                    <script>
                        
                        function TableActions (value, row, index) {
                            //alert(value+'-'+row.note+'-'+index);
                            return [
                                '<a class="action-link btn btn-primary" href="{{ path('commandes_valid1', { 'id': commande.id }) }}">'+value+'</a>'
                            ].join('');
                        }
                    </script>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
    <!--Latest User-->
  <script type="text/javascript">
        //exporte les données sélectionnées
        var $table = $('#table');
        $(function () {
            $('#toolbar').find('select').change(function () {
                $table.bootstrapTable('refreshOptions', {
                    exportDataType: $(this).val()
                });
            });
        })

        var trBoldBlue = $("table");

        $(trBoldBlue).on("click", "tr", function (){
            $(this).toggleClass("bold-blue");
        });


    </script>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
        <script src="{{asset('js/bootstrap-table.js')}}"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script>
    <script src='http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>




{% endblock %}