{% extends 'layout-commande/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Commandes acceptées</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">

                <tr>
                    <th>Nom du client</th>
                    <th>N°Commande</th>
                    <th>Quantité</th>
                    <th>Désignation</th>

                    <th>Date de livraison </th>
                    <th>Etat</th>
                    <th>Action</th>
                    <th>Ordre de fabrication</th>
                    <th>Fiche palette</th>

                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.utilisateur.username}}</td>
                        <td>{{ commande.id}}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{{ commande.designation }}</td>

                        <td>{{ commande.dateliv|date('d-m-Y') }}</td>
                        <td>{% if  commande.etatcomd ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                        <td>
                            <a href="{{ path('show-cmd', { 'id': commande.id }) }}" class="btn btn-danger"><em class="glyphicon glyphicon-eye-open"></em></a>
                        </td>
                        <td>
                            {% if  commande.plt ==1  %}<span class="label label-success">Déjà effectuée</span>{% else %}
                                <button href="" type="button" class="btn btn-warning" data-toggle="modal" data-target="#myFab{{ commande.id }}">
                                    Ordre de fabrication
                                </button>
                            {% endif %}
                            <!-- Modal -->
                            <div class="modal fade" id="myFab{{ commande.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="    background: #e6ecf3de;">
                                        <div class="modal-header" style="    background: #479de8;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Générer une Ordre de fabrication : Commande N° {{ commande.id }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-sm-12">
                                                <form method="post" action="{{ path('fabrication', { 'id' : commande.id }) }}">

                                                    <div class="form-group">
                                                        <label for="validate-text">Nom de la décoratrice</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="nomdec" id="nomdec" placeholder="Nom de la décoratrice" required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="validate-optional">Jour de production</label>
                                                        <div class="input-group">
                                                            <input type="date" class="form-control" name="jour" id="jour" placeholder="Jour de production">
                                                            <span class="input-group-addon info"><span class=""></span></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="validate-optional">Type de production</label>
                                                        <select id="type" name="type" class="form-control">
                                                            <option value="">Type de production</option>
                                                            <option value="Sérigraphie">Sérigraphie</option>
                                                            <option value="Marquage à chaud">Marquage à chaud</option>
                                                            <option value="Tempo">Tempo</option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Nombre de passe</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control" name="nbrpasse" id="nbrpasse" placeholder="Nombre de passe"  required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Quantité sortie</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="quantite" id="quantite" placeholder="Quantité sortie"  required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>




                                                    <input type="submit" class="btn btn-info" value="GENERER">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="  border-top:none;">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->

                        </td>
                        <td>
                            {% if  commande.retq ==1  %}<span class="label label-success">Déjà effectuée</span>{% else %}
                                <button href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ commande.id }}">
                                    Fiche palette
                                </button>
                            {% endif %}
                            <!-- Modal -->
                            <div class="modal fade" id="myModal{{ commande.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="    background: #e6ecf3de;">
                                        <div class="modal-header" style="    background: #479de8;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Fiche palette Commande N° {{ commande.id }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-sm-12">
                                                <form method="post" action="{{ path('retiquette', { 'id' : commande.id }) }}">

                                                    <div class="form-group">
                                                        <label for="validate-optional">Type de palette</label>
                                                        <div class="input-group" style="    width: 100%;">
                                                            <select class="form-control" name="total" id="total">
                                                                <option value="SERIGRAPHIE">SERIGRAPHIE</option>
                                                                <option value="TAMPO">TAMPO</option>
                                                                <option value="MAC">MAC</option>

                                                            </select>
                                                        </div>
                                                    </div

                                                    <div class="form-group">
                                                        <label for="validate-optional">Adresse livraison</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="adresse" id="adresse" placeholder="Adresse livraison"  required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-edit"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">N° Téléphone</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="tel" id="tel" placeholder="0123456789"  required>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-edit"></span></span>
                                                        </div>
                                                    </div>


                                                    <input type="submit" class="btn btn-info" value="Enregistrer">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="  border-top:none;">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}