<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->
<style type="text/css">
    table {
        width: 90%;
        color: #717375;

        font-family: helvetica;
        line-height: 2mm;
        border-collapse: collapse;
    }
    h2 { margin: 0;
        font-size: 14px;
        padding: 0; }
    p { margin: 2px;
    font-size: 9px;
    }
    .border th {
        border: 2px solid rgba(255, 255, 255, 0.98);
        color: white;
        background: #434343;
        padding: 3px;
        font-weight: normal;
        font-size: 9px;
        text-align: center;
    }
    .border td {

        border: 2px solid #CFD1D2;
        padding: 5px 3px;
        font-size: 10px;
        text-align: left;
    }
    .no-border {
        border-right: 1px solid #CFD1D2;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .space { padding-top: 10px; }
    .10p { width: 10%; } .15p { width: 15%; }
    .25p { width: 25%; } .50p { width: 50%; }
    .60p { width: 60%; } .75p { width: 75%; }
    .100p {
            width: 100%;
        padding-left: 20%;
        }
</style>
<page backtop="3mm" backleft="3mm" backright="3mm" backbottom="3mm" >

    <table style="vertical-align: top;">
        <tr>
            <td class="60p">
              <strong>EXPÉDITEUR:</strong><br><br> ENT-AZS<br /> <BR>
                ZA OU BOIS HADENOT<br /><BR>
                <strong></strong> 77120 AMILLIS<br />

            </td>
            <td class="40p">
                <strong>DESTINATAIRE:</strong><br><br>{{ fabrication.commande.utilisateur.entreprise }}<br /><BR>
                {{ fabrication.commande.utilisateur.adresse }}<br /><BR>
                {{ fabrication.commande.utilisateur.codpostal }} , {{ fabrication.commande.utilisateur.ville }}<br /><BR>
            </td>
        </tr>
    </table>
    <table style="margin-top: 20px;">


        <tr>
            <td class="100p"><h2>ORDRE DE FABRICATION {{ fabrication.id }}</h2></td>

        </tr>

    </table>
    <table style="margin-top: 30px;" class="border">
        <thead>
        <tr>

            <th class="50p">N°Commande </th>
            <td class="50p" style="text-align: center;"> AZS{{ fabrication.commande.numcomd }}</td>
        </tr>
        <tr>

            <th class="50p">Nom de la décoratrice </th>
            <td class="50p" style="text-align: center;">{{ fabrication.nomdec }}</td>
        </tr>

        <tr>
            <th class="50p">Jour de production</th>
            <td class="50p" style="text-align: center;">{% if fabrication.jour %}{{ fabrication.jour|date('d-m-Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th class="50p">Type de production</th>
            <td class="50p" style="text-align: center;">{{ fabrication.type }}</td>
        </tr>
        <tr>
            <th class="50p">Nombre de passe</th>
            <td class="50p" style="text-align: center;">{{ fabrication.nbrpasse }}</td>
        </tr>
        <tr>
            <th class="50p">Quantité sortie</th>
            <td class="50p" style="text-align: center;">{{ fabrication.quantite }}</td>

        </tr>


        </thead>
        <tbody>

        <tr>







        </tr>







        </tbody>
    </table>
</page>
