{% extends 'layout-commande/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">Listes des palettes</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>N°Commande</th>
                    <th>Nom Client</th>
                    <th>N/Total</th>


                    <th>Action</th>


                </tr>
                {% for retiquette in retiquettes %}
                    <tr>

                        <td>{{ retiquette.commande.id }}</td>
                        <td>{{ retiquette.commande.utilisateur.username}}</td>
                        <td>{{ retiquette.total }}</td>


                        <td>
                            <a href="{{ path('PalettePDF', { 'id' : retiquette.id }) }}" class="btn btn-danger" target="_blank">fiche palette</a>
                            <a href="{{ path('Palette2PDF', { 'id' : retiquette.id }) }}" class="btn btn-warning" target="_blank">Etiquette</a>

                        </td>

                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}