{% extends 'layout-commande/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">Ordre de fabrication</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>N°Commande </th>

                    <th>Nom de la décoratrice</th>
                    <th> Jour de production </th>
                    <th>Type de production </th>
                    <th> Nombre de passe </th>
                    <th> Quantité sortie </th>

                  <th>Action</th>


                </tr>
                {% for fabrication in fabrications %}
                    <tr>
                        <td>{{ fabrication.commande.id }}</td>

                        <td>{{ fabrication.nomdec}}</td>
                        <td>{{ fabrication.jour}}</td>
                        <td>{{ fabrication.type}}</td>
                        <td>{{ fabrication.nbrpasse}}</td>
                        <td>{{ fabrication.quantite}}</td>



                        <td>

                           <a href="{{ path('fabricationPDF', { 'id' : fabrication.id }) }}" class="btn btn-warning" target="_blank">Ordre de fabrication</a>
                        </td>

                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}