<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->
<style type="text/css">
    table {
        width: 90%;
        color: #717375;

        font-family: helvetica;
        line-height: 2mm;
        border-collapse: collapse;
    }
    h2 { margin: 0;
        font-size: 10px;
        padding: 0; }
    p { margin: 2px;
    font-size: 9px;
    }
    .border th {
        border: 1px solid rgba(34, 34, 34, 0.50);
        color: white;
        background: #006eb7;
        padding: 3px;
        font-weight: normal;
        font-size: 9px;
        text-align: center;
    }
    .border td {

        border: 2px solid #CFD1D2;
        padding: 5px 3px;
        font-size: 10px;
        text-align: left;
    }
    .no-border {
        border-right: 1px solid #CFD1D2;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .space { padding-top: 10px; }
    .10p { width: 10%; }
    .15p { width: 15%; }
    .25p { width: 25%; }
    .50p { width: 50%; }
    .60p { width: 60%; }
    .75p { width: 75%; }
</style>
<page backtop="2mm" backleft="2mm" backright="2mm" backbottom="2mm" >


    <table style="margin-top: 30px;
     border:4px solid #222222" class="border">
        <thead>

    <tr >


        <th class="25p"> <h1>A</h1><BR><h1>Z</h1><BR><h1>S</h1><BR> <BR> <br></th>
        <td class="75p" style="text-align: center;">
            <table style="margin-left: 10px" >
                <tr>
                    <td style=" border: 0px solid #CFD1D2;"><strong>CLIENT:</strong> {{ retiquette.commande.utilisateur.entreprise }}</td>
               </tr>
                <tr>
                    <td style=" border: 0px solid #CFD1D2;"><strong>REF.ARTICLE:</strong> {{ retiquette.commande.refarticle }}</td>
                </tr>
               
                <tr>
                    <td style=" border: 0px solid #CFD1D2;"><strong>DESIGNATION:</strong> {{ retiquette.commande.designation }}</td>
                </tr>
                <tr>
                    <td style=" border: 0px solid #CFD1D2;"><strong>REF.CDE:</strong> {{ retiquette.commande.refcdclient }}</td>
                </tr>
                <tr>
                    <td style=" border: 0px solid #CFD1D2;"><strong>QUANTITE/CARTON:</strong> {{ retiquette.commande.qtecdee }}</td>
                </tr>

            </table>
    </td>
    </tr>




        </thead>
        <tbody>

        <tr>







        </tr>







        </tbody>
    </table>
</page>
<div class="container">


    <div class="row">
   </div>
    <!--row-->

</div>