{% extends 'layout-commande/base.html.twig' %}
{% block body %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="row">
        <table class="table table-condensed table-hover">
            <tr class="tabco3">

                <th class="tabco3" colspan="4">Commande N°{{ commande.id }}</th>

            </tr>
            <tbody>
            <tr>
                <td class="tabco1" >N° Compte Client</td>
                <td class="tabco3" > {{ commande.numcompte }}</td>
                <td class="tabco1" >N° Pièce</td>
                <td class="tabco3">{{ commande.numpiece }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Date décoration</td>
                <td class="tabco3" >{% if commande.dateDeco %}{{ commande.dateDeco|date('Y-m-d') }}{% endif %}</td>

                <td class="tabco1" >Date départ</td>
                <td class="tabco3" >{% if commande.datedep %}{{ commande.datedep|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <td class="tabco1" >AC</td>
                <td class="tabco3" >{{ commande.ac }}</td>
                <td class="tabco1" >IMPERATIF</td>
                <td class="tabco3" >{{ commande.imperatif }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Référence Article</td>
                <td class="tabco3" >{{ commande.refarticle }}</td>
                <td class="tabco1" >Désignation</td>
                <td class="tabco3" >{{ commande.designation }}</td>
            </tr>


            </tbody>
        </table>
    <div class="row" style=" margin: 1%;   background: #a2ccf1;padding: 2%;">
                <form name="gestionpolebundle_commandes" method="post">



                       <div id="gestionpolebundle_commandes">
                           <div class="col-md-12" style="    background:#eeeff14d;border-radius: 1%; padding: 2%;">
                               <div class="col-md-3">

                                <p id="valide">
                                <span class="pull-left" style="padding: 10px">
                                    <i class="btn btn-sm btn-success" >
                                        <label for="gestionpolebundle_commandes_etatcomd">Valider cette commande ?</label>
                                        <input type="checkbox" id="gestionpolebundle_commandes_etatcomd" name="gestionpolebundle_commandes[etatcomd]" value="1">
                                    </i>
                                </span>
                                </p>
                               </div>
                               <div class="col-md-7">

                           <p id="refuse">
                                 <span class="pull-left" style="padding: 10px" >
                                                <i class="btn btn-sm btn-danger" > <label for="gestionpolebundle_commandes_refuse">Refuser cette commande ?</label>
                                             <input type="checkbox" id="gestionpolebundle_commandes_refuse" name="gestionpolebundle_commandes[refuse]" value="1"></i>
                                 </span>

                           </p>
                           <br>
                           <textarea class="form-control" style="display:none;" id="gestionpolebundle_commandes_Commentaire" name="gestionpolebundle_commandes[Commentaire]"   rows="7"> Dit pourquoi?</textarea>
                           <p id="Refuser" style="display: none;"></p></div>

                        </div>
                                <input type="hidden" id="gestionpolebundle_commandes__token" name="gestionpolebundle_commandes[_token]" value="EIRTAqr4Xm79n6pAwvdvZdZgAfmSroLT8GeV0vyZZFE">
                            </div>

                    </span>

                    <input type="submit" class="btn btn-primary" value="Enregistrer" style="float: right">
                    <script>

                        $(document).ready(function(){
                            $("#gestionpolebundle_commandes_refuse").click(function(){
                                $("#gestionpolebundle_commandes_Commentaire").css('display' , 'block');
                                $("#valide").css('display' , 'none');
                            });
                            $("gestionpolebundle_commandes_etatcomd").click(function(){
                                $("#Refuse").css('display' , 'none');
                            });
                        });
                    </script>


                </form>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="col-md-2 col-md-offset-6">

            </div>
            <div class="col-md-2">
                <a href="{{ path('liste-commandes') }}" class="btn btn-default" style="float: left">Retour à la liste</a>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>





    </div>
    <!--row-->








{% endblock %}