<div class="col-md-3">

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           GESTION COMMANDE
        </a>
        <a href="{{ path('ordre-fabrication') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Ordre de fabrication</a>
        <a href="{{ path('commande-encours') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commandes en cours</a>
        <a href="{{ path('commande-termine') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commandes Terminées</a>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Retouche Qualité
        </a>

        <a href="{{ path('retouche-encours') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true">

        </span>  Retouche en cours</a>
        <a href="{{ path('retouche-terminee') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true">

        </span>  Retouche Terminé</a>

    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          GESTION CLIENT
        </a>

        <a href="{{ path('inbox-production') }}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> SAV Client</a>

    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            ACCES SUPERVISION
        </a>
        <a href="{{ path('aperçu-Reception') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Aperçu Reception Commandes</a>
        <a href="{{ path('aperçu-logistiq') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Aperçu Logistique</a>

    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          MANUTENTION
        </a>
        <a href="{{ path('conditionnement') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Conditionnement</a>
       
    </div>
 {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="list-group" style="display:none">

        </div>

    {% else %}
        <div class="list-group">
            <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                AZS AU QUOTIDIEN
            </a>
            <a href="{{ path('fos_message_inbox') }}" class="list-group-item">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Messagerie interne</a>
         </div>
    {% endif %}



</div>
