.points_table thead {
    width: 100%;
}

.points_table tbody {
    height: 562px;
    overflow-y: auto;
    width: 100%;
}

.points_table thead tr{
    width: 99%;
}

.points_table tr{
    width: 100%;
}

.points_table thead, .points_table tbody, .points_table tr, .points_table td, .points_table th{
    display: inline-block;
}

.points_table thead{
    background: #337ab7;
    color: #fff;
}

.points_table tbody td, .points_table thead > tr> th{
    float: left;
    border-bottom-width: 0;
}

.points_table>tbody>tr>td, .points_table>tbody>tr>th, .points_table>tfoot>tr>td, .points_table>tfoot>tr>th, .points_table>thead>tr>td, .points_table>thead>tr>th{
    padding: 8px;
    height: 50px;
    text-align: center;
    line-height: 32px;
}

.odd {
    background: #ffffff;
    color: #000;
}

.even {
    background: #efefef;
    color: #000;
}

.points_table_scrollbar{
    height: 612px;
    overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #444444;
}

.points_table_scrollbar::-webkit-scrollbar{
    width: 1%;
    min-width: 5px;
    background-color: #F5F5F5;
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}

/*precing */
#PricingTab h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
#PricingTab table{
    max-width:800px;
    margin: 0 auto;
    box-shadow: 1px 1px 149px 0px rgb(24, 25, 25);
}

.tabco1 {
    background: #fff;
    /*width: 40%;*/
    padding: 10px !important;
}
th.tabco1 {
    background: #fff;
    padding: 32px 10px !important;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}
.tabco2 {
    background: #009688;
    text-align: center;
    color: #fff;
}

th.tabco2 {
    background: #00C853;
    padding: 20px 5px !important;
    font-size: 18px;
    text-transform: uppercase;
}
.tabco3 {
    background: #03A9F4;
    text-align: center;
    color: #fff;
}
th.tabco3 {
    background: #337ab7;

    padding: 20px 10px !important;
    font-size: 18px;
    text-transform: uppercase;
}
.tabco4 {
    background: #EF5350;
    text-align: center;
    color: #fff;
}
th.tabco4 {
    background: #E53935;

    padding: 20px 10px !important;
    font-size: 18px;
    text-transform: uppercase;
}
.rightSign {
    color: #1ab921;
    background: #fff;
    border-radius: 45px;
    padding: 5px;
    border: 2px solid;
    box-shadow: 0px 0px 11px -5px #000;
}
.crossSign {
    color: #de2315;
    background: #fff;
    border-radius: 45px;
    padding: 5px 7px;
    border: 2px solid;
    box-shadow: 0px 0px 11px -5px #000;
}
.White-Yellow {
    border-top: 0;
    border-left: 75px solid #fff;
    border-right: 75px solid #FEF200;
    height: 5px;
    width: 0px;
}
