<div class="col-md-3">

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Gestion Commande
        </a>
        <a href="{{ path('creer-commande') }}" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> créer une commande</a>
        <a href="{{ path('suivi-comd') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Suivi de commande</a>
        <a href="{{ path('suivi-fact') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Suivi Facture</a>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Gestion de stockage
        </a>
        <a href="{{ path('creer-stock') }}" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Envoyer un stock</a>
        <a href="{{ path('stockage') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> stockage Actuel</a>

    </div>


    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           Support
        </a>
        <a href="{{ path('inbox-client') }}" class="list-group-item" style="display: none"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Support général</a>
       {{ render(controller('GestionPoleBundle:Default:alert')) }}
    </div>

</div>
