{% extends 'base.html.twig' %}
{% block body %}

    <style>
        body{padding-top:30px;}

        .btn-outlined {
            border-radius: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .btn-outlined.btn-primary {
            background: none;
            border: 3px solid #428bca;
            color: #428bca;
        }
        .btn-outlined.btn-primary:hover,
        .btn-outlined.btn-primary:active {
            color: #FFF;
            background: #428bca;
            border-color: #428bca;
        }
        .btn-outlined.btn-info {
            background: none;
            border: 3px solid #5bc0de;
            color: #5bc0de;
        }
        .btn-outlined.btn-info:hover,
        .btn-outlined.btn-info:active {
            color: #FFF;
            background: #39b3d7;
        }
    </style>

    <div class="container">
        <div class="row">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username},'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>

            {% else %}

                <div class="col-md-6">
                    <div class="col-md-8" style="float: right">
                        <p><a href="{{ path('fos_user_security_login') }}" class="btn btn-outlined btn-block btn-primary">Espace Client</a></p>
                    </div>



                </div>
                <div class="col-md-6">
                    <div class="col-md-8"style="float: left" >
                        <p><a href="{{ path('admin_login') }}" class="btn btn-outlined btn-block btn-info">Espace Entreprise</a></p>
                    </div>


                </div>
            {% endif %}
        </div>
    </div>



    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username},'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>


    {% endif %}
{% endblock %}