{% extends 'base.html.twig' %}
{% block body %}
    <style>
        body{padding-top:30px;}

        .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

        small {
            display: block;
            line-height: 1.428571429;
            color: #999;
        }
        .panel-default>.panel-heading {
            color: #f7f4f4;
            background-color: #268ae0;
            border-color: #ddd;
        }
        .btn3d {
            transition:all .08s linear;
            position:relative;
            outline:medium none;
            -moz-outline-style:none;
            border:0px;
            margin-right:10px;
            margin-top:15px;
        }
        .btn3d:focus {
            outline:medium none;
            -moz-outline-style:none;
        }
        .btn3d:active {
            top:9px;
        }
        .btn-danger {
            box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
            background-color:#c63702;
        }
    </style>

        <div class="col-md-12">

            <div class="col-md-8 col-md-offset-2">

                        <div class="panel panel-default">
                            <div class="panel-heading" style="text-align: center;">  <h4 >Profile {{ utilisateur.username }}</h4></div>
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">


                                </div>
                                <div class="col-md-8" >
                                    <div class="" >
                                        <h2>{{ utilisateur.username }}</h2>



                                    </div>
                                    <hr>
                                    <ul class="details" >
                                        <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Prénom: </span>{{ utilisateur.prenom }}</p>
                                        <p><span style="width:50px;color: #268ae0;font-family: sans-serif;">Nom: </span>{{ utilisateur.username }}</p>
                                       <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Email: </span>{{ utilisateur.email }}</p>
                                        <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Téléphone:</span>{{ utilisateur.tel }}</p>
                                   <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Nom Entreprise: </span>{{ utilisateur.entreprise }}</p>
                                       <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Numéro entreprise: </span>{{ utilisateur.numentreprise }}</p>
                                        <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Région: </span>{{ utilisateur.region }}</p>
                                        <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Ville : </span>{{ utilisateur.ville }}</p>
                                        <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Adresse: </span>{{ utilisateur.adresse }}</p>
                                        <p><span  style="width:50px;color: #268ae0;font-family: sans-serif;">Code Postale: </span>{{ utilisateur.codpostal }}</p>

                                    </ul>
                                    <hr>
                                    <div class="tital"  >

                                    </div>
                                </div>
                            </div>

                        </div>
                <div class="alert alert-danger">

                    <strong> </strong>  Votre demande est en cours de traitement.
                </div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_security_logout') }}" type="button" class="btn btn-danger btn-lg btn3d"  style="float: right;"><span class="glyphicon glyphicon-off"></span></a>


    {% endif %}


            </div>

        </div>

{% endblock %}