{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <style>
        .input-group {
            margin-bottom: 16px;
        }
      .panel-primary>.panel-heading {
    color: #fff;
    background-color: #0e202c;
    border-color: #0e202c;
    border-radius: 23px 0px 0px 0px;
}
.panel-primary {
    border-color: #ffffff2e;
}
.btn-success {
    color: #fff;
    background-color: #3da4ec;
    border-color: #3997d1;
}
    </style>
    <div class="container">
        <div class="row" style="margin-top: 5%">
            <div class="" >
               <h1 style="text-align: center;"> <span style="color: #0e202c;font-size: 38px;font-weight: 600;font-family: inherit;">AZS</span>drive</h1>
                <div class="border"></div>

                <h4 style="margin-top: 20px; text-align: center;    font-weight: 600;" >Un suivi des commandes de A à Z.</h4>



            </div>
            <div class="col-md-8 col-md-offset-2" style="margin-top:20px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Connexion</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 separator social-login-box"> <br />
                                <img src="{{ asset('images/connexion.png') }}" class="img-respensive" style="width:70%">
                            </div>
                            <div class="col-md-6 login-box">
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    {% if csrf_token %}
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    {% endif %}
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" id="username" name="_username" class="form-control" placeholder="identifiant" required autofocus />
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" id="password" name="_password" class="form-control" placeholder="mot de passe" required />
                                    </div>
                                   


                                    <p >
                                        <a href="" style="font-weight: 600;">Mot de passe perdu?</a>
                                    </p>
                                    <div class="" style="margin-top: 6px; float: right;">

                                        <button type="submit" class="btn btn-labeled btn-success" id="_submit" name="_submit" onclick="">
                                            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Connexion
                                        </button>
                                       
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="checkbox">
                                    <label style="font-weight: 600;">
                                        <input type="checkbox"  id="remember_me" name="_remember_me" value="Remember">
                                        Se souvenir de moi
                                    </label>
                                </div>
                            </div>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username},'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>

                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--script type="text/javascript">

        function myFunction() {

            var x = document.getElementById("roles").selectedIndex;
            var data1=document.getElementsByTagName("option")[x].value;
            //; alert(document.getElementsByTagName("option")[x].value);
            alert(data1);
            path: "http://" + location.host,
            $.ajax({
                url: selfObject.path + "/Application/web/app_dev.php/connexion",

                type: "POST",
                data: {
                    ZoneID: data1
                },

                success: function(data){

                   alert("success");

                }

            });



        }

    </script-->
    <script>
        $(document).ready(function() {
            $("#_submit").click(function(){




                var x = document.getElementById("roles").selectedIndex;
                var data1 = document.getElementsByTagName("option")[x].value;
                //; alert(document.getElementsByTagName("option")[x].value);
                alert(data1);


                $.ajax({

                    url: "{{path('gestion_pole_homepage')}}",

                    type: "POST",
                    data: {
                        ZoneID: ZoneID
                    },
                    success: function (data) {
                        $('#divCircuit').html(data);
                        $('#zoneChoice').text(' - ' + ZoneName);
                        appP08.controls.divZone.hide();
                    }
                });
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".social-login-box").height( $(".login-box").height() - 160 );
        });
    </script>
{% endblock fos_user_content %}