{% extends 'layout-admin/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">   Gestion des BL </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
				<th>N°Commande</th>
                    <th>Nom du client</th>
                    <th>Nom de la pièce</th>
                    <th>Qté Entrée</th>
                    <th>Qté Sortie</th>
                    <th>Etat BL</th>
                    <th>Action</th>
					<th>BL</th>


                </tr>
                {% for bl in bilan %}
                    <tr>
                        <td>{{ bl.commande.id}}</td>
                        <td>{{ bl.commande.utilisateur.username}}</td>
                        <td>{{ bl.nompiece }}</td>
                        <td>{{ bl.qtentre }}</td>
                        <td>{{ bl.qtsort }}</td>
                      

                        <td>
                            {% if  bl.etat ==1  %}
                              
                                <span class="label label-warning">Déjà validée</span>{% else %}




                        <form method="post" action="{{ path('validationbl',{ 'id' : bl.id }) }}">
                                <div style="" type="hidden">
 </div>

                                <input type="submit" class="btn btn-info" value="Validée">
                            </form>
                            {% endif %}
                        </td>
                       
                        <td>

  <button href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ bl.id }}">
									<em class="glyphicon glyphicon-edit"></em>
								</button>

                        </td>
						<td> <a href="{{ path('Cond-BLPDF', { 'id' : bl.id }) }}" class="btn btn-danger" target="_blank">BL</a></td>
						<!-- Modal -->
                            <div class="modal fade" id="myModal{{ bl.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="    background: #e6ecf3de;">
                                        <div class="modal-header" style="    background: #479de8;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Modefier BL Commande N°: {{ bl.commande.id }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-sm-12">
                                                <form method="post" action="{{ path('modif-bl', { 'id' : bl.id }) }}">
												
                                                    
													 <div class="form-group">
                                                        <label for="validate-text">Nom Pièce</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="nompiece" id="nompiece" value="{{ bl.nompiece }}" >
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
													
                                                    <div class="form-group">
                                                        <label for="validate-optional">Quantité entrée</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="qtentre" id="qtentre" value="{{ bl.qtentre  }}" >
                                                            <span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
													
                                                    <div class="form-group">
                                                        <label for="validate-optional">Quantité sortie</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="qtsort" id="qtsort" value="{{ bl.qtsort  }}" >
                                                            <span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
														 </div>
														 
                                                   
											
                                                    <div class="form-group">
                                                        <label for="validate-optional">Nombre de cartons complets</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="crtcomplet" id="crtcomplet"   value="{{ bl.crtcomplet  }}" >
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
													
                                                    <div class="form-group">
                                                        <label for="validate-optional">Nombre de cartons incomplets</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="crtincomplet" id="crtincomplet"  value="{{ bl.crtincomplet  }}" >
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="form-group">
                                                        <label for="validate-optional">Nombre de palette</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="nbrplt" id="nbrplt"   value="{{ bl.nbrpalet  }}" >
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Nom de palette</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="nomplt" id="nomplt"   value="{{ bl.nompalet  }}" >
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validate-optional">Prix </label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="prixdec" id="prixdec"   value="{{ bl.prixdec  }}" >
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                                    </div>
                                                 

                                                    <input type="submit" class="btn btn-info" value="Enregistrer">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="  border-top:none;">

                                        </div>
                                    </div>
                                </div>
                            </div>




                        </td>
						

                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
  <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}