

{% extends 'layout-admin/base.html.twig' %}
{% block body %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="row" style="padding: 1% 10% 5%; background: white;" >
        <table class="table table-condensed table-hover">
{% for bl in bilan %}
{%if bl.commande.id == commande.id %}           
		   <tr class="tabco3">

                <th class="tabco3" colspan="2">BL Commande N°{{ commande.id }}</th>

            </tr>
            <tbody>
            <tr>
                <td class="tabco2" >Client</td>
                <td class="tabco3" > {{ commande.utilisateur.username }}</td>


            </tr>
            <tr>
                <td class="tabco2" >N° Pièce</td>
                <td class="tabco3">{{ commande.numpiece }}</td>

            </tr>
            <tr>


                <td class="tabco2" >Désignation</td>
                <td class="tabco3" >{{ commande.designation }}</td>
            </tr>
            {% for plt in palettes %}
            {% if plt.commande.id == commande.id %}
            <tr>
                <td class="tabco2" >Quantite</td>
                <td class="tabco3" >{{ plt.entree  }}</td>

            </tr>
            <tr>
                <td class="tabco2" >Quantite</td>
                <td class="tabco3" >{{ plt.sortie  }}</td>

            </tr>
            {% endif %}
            {% endfor %}

            {% for etq in etiquettes %}
            {% if etq.commande.id == commande.id %}
            <tr>
                <td class="tabco2" >Nombre de cartons incomplet</td>
                <td class="tabco3" >{{ etq.crtincomplet  }}</td>

            </tr>
            <tr>
                <td class="tabco2" >Nombre de palette</td>
                <td class="tabco3" >{{ etq.nbrplt  }}</td>

            </tr>
            <tr>
                <td class="tabco2" >Nom de palette</td>
                <td class="tabco3" >{{ etq.nom  }}</td>

            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        {% endif %}
		{% endfor %}
		</table>



        <div class="row" style=" margin: 1%;   background: #a2ccf1;padding: 2%;">
            {{ form_start(edit_form) }}
            <div class="col-md-12" style="    background:#eeeff14d;border-radius: 1%; padding: 2%;">
                <div class="col-md-3">


                                <span class="pull-left" style="padding: 10px">
                                    <i class="btn btn-sm btn-success" >
                                        {{ form_widget(edit_form) }}

                                    </i>
                                </span>

                </div>


            </div>

            <input type="submit" class="btn btn-primary" value="Enregistrer"  style="float: right"/>
            {{ form_end(edit_form) }}
        </div>






    </div>
    <!--row-->







{% endblock %}
