{% extends 'layout-commande/base.html.twig' %}
{% block body %}


 <div class="col-md-12" style="background:#fff; padding: 2% 25%">
       <img src="{{asset('images/pole (3).png')}}" class="img-respensive" style="width:100%"/>
    </div>



{% endblock %}