{% extends 'layout-commande/base.html.twig' %}
{% block body %}
    <style>
        .jumbotron {

            color: white !important;
            text-align: center;
            background-color: #337ab7 !important;
        }
        .well {
            background-color: #89beec;
            border: 1px solid #e3e3e3;
            padding: 5%;
        }
        textarea.form-control {

            min-height: 109px;
        }
        .btn-primary {
            color: #fff;
            background-color: #f72b63 !important;
            border-color: #f72b63 !important;
        }
    </style>


    <div class="" style="background:white; padding: 5% ">
        <div class="jumbotron jumbotron-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            Messages Reçus
                        </h1>
                    </div>
                </div>
            </div>
        </div>

    </div>








    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}