{% extends 'layout-commande/base.html.twig' %}
{% block body %}

<style>
    th,td{
        border: 1px solid #ddd!important;
    }

</style>
    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">  Statistique  Client</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th rowspan="1">Année</th>
                    <th colspan="2" style="text-align: center">2018</th><th colspan="2"style="text-align: center">2019</th><th style="text-align: center" colspan="2">2020</th>
                 <tr><th>Client</th><td>Nbre des commandes </td><td>Qté commandés</td><td>Nbre des commandes</td><td>Qté commandés</td><td>Nbre des commandes</td><td>Qté commandés</td></tr>

                </tr>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.username}}</td>
                        <td>
                            {% set count = 0 %}
                            {% for comd in commandes %}
                                {% if  comd.dateliv|date('Y') == 2018 %}
                    {% if comd.utilisateur.username == client.username %}
                    {% set count = count + 1 %}
                        {% endif %}
{% endif %}
                    {% endfor %}
                            {{ count }}
                    </td>
                        <td>
                            {% set stock = 0 %}
                            {% for comd in commandes %}
                                {% if  comd.dateliv|date('Y') == 2018 %}
                                {% if comd.utilisateur.username == client.username %}

                                    {% set stock = stock + comd.qtecdee %}

                                {% endif %}
                                    {% endif %}
                            {% endfor %}


                            {{ stock }}


                        </td>
                        <td>
                            {% set count = 0 %}
                            {% for comd in commandes %}
                                {% if  comd.dateliv|date('Y') == 2019 %}
                                    {% if comd.utilisateur.username == client.username %}
                                        {% set count = count + 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {{ count }}

                        </td>
                        <td>
                            {% set stock = 0 %}
                            {% for comd in commandes %}
                                {% if  comd.dateliv|date('Y') == 2019 %}
                                    {% if comd.utilisateur.username == client.username %}

                                        {% set stock = stock + comd.qtecdee %}

                                    {% endif %}
                                {% endif %}
                            {% endfor %}


                            {{ stock }}

                        </td>


                        <td>
                            {% set count = 0 %}
                            {% for comd in commandes %}
                                {% if  comd.dateliv|date('Y') == 2020 %}
                                    {% if comd.utilisateur.username == client.username %}
                                        {% set count = count + 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {{ count }}

                        </td>
                        <td>
                            {% set stock = 0 %}
                            {% for comd in commandes %}
                                {% if  comd.dateliv|date('Y') == 2020 %}
                                    {% if comd.utilisateur.username == client.username %}

                                        {% set stock = stock + comd.qtecdee %}

                                    {% endif %}
                                {% endif %}
                            {% endfor %}


                            {{ stock }}

                        </td>



                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}