{% extends 'layout-qualite/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Commandes acceptées</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nom du client</th>
                    <th>N°Commande</th>
                    <th>Quantité pièces cmdé</th>
                    <th>Désignation</th>
                    <th>Référence de la pièce </th>
                    <th>Etat</th>
                    <th>Action</th>

                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.utilisateur.username}}</td>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{{ commande.designation }}</td>
                        <td>{{ commande.refarticle }}</td>
                        <td>
                            {% if  commande.certifie ==1  %}


                                <span class="label label-warning">Effectuée</span>{% else %}




                                <form method="post" action="{{ path('certifier',{ 'id' : commande.id }) }}">
                                    <div style="" type="hidden">

                                    <input type="hidden"  class="form-control" name="etatlog" id="etatlog" value="{{ commande.certifie }}" required>
                                    </div>

                                    <input type="submit" class="btn btn-info" value="Certifié Conforme">
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('show_qlt', { 'id': commande.id }) }}" class="btn btn-success"><em class="glyphicon glyphicon-eye-open"></em></a>



                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}