{% extends 'layout-qualite/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Retouches Production</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nom du client</th>
                    <th>N°Commande</th>
                    <th>Remarque</th>
                    <th>Etat de production</th>


                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.utilisateur.username}}</td>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.commentaire }}</td>

                        <td>{% if  commande.retouche ==1  %}<span class="label label-success">Termenéé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>

                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}