{% extends 'layout-qualite/base.html.twig' %}

{% block body %}
    <style>
        .panel-info>.panel-heading {
            color: #31708f;
            background-color: #fbfbfb;
            border-color: #bce8f1;
        }
    </style>
    <div class="col-md-12">
    <div class="panel with-nav-tabs panel-info">
    <div class="panel-heading">
    <div class="panel-body">
    <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1info">
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>N°Commande</th>

                    <th>Réception</th>
					 <th>Technique</th>
                    <th>Production</th>
                     
                    <th>Qualité</th>
					<th>Conditionnement</th>
                    <th>Logistique</th>

                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>

                        <td>{% if  commande.etatcomd ==1  %}<span class="label label-success">Valider</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
 <td>{% if  commande.ecran ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                                              
					   <td>{% if  commande.etatprod ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                        <td>{% if  commande.etatqlt ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
<td>{% if  commande.bl ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                                             
					   <td>{% if  commande.marchandise ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    </div>
    </div></div>
    </div>
    </div>
{% endblock %}