{% extends 'layout-qualite/base.html.twig' %}
{% block body %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



            <div class="row">
                <table class="table table-condensed table-hover">
                    <tr class="tabco3">

                        <th class="tabco3" colspan="4">Commande N°{{ commande.id }}</th>

                    </tr>
                    <tbody>
                    <tr>
                        <td class="tabco1" >N° Compte Client</td>
                        <td class="tabco3" > {{ commande.numcompte }}</td>
                        <td class="tabco1" >N° Pièce</td>
                        <td class="tabco3">{{ commande.numpiece }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Date décoration</td>
                        <td class="tabco3" >{% if commande.dateDeco %}{{ commande.dateDeco|date('Y-m-d') }}{% endif %}</td>

                        <td class="tabco1" >Date de départ</td>
                        <td class="tabco3" >{% if commande.datedep %}{{ commande.datedep|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >AC</td>
                        <td class="tabco3" >{{ commande.ac }}</td>
                        <td class="tabco1" >IMPERATIF</td>
                        <td class="tabco3" >{{ commande.imperatif }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Référence Article</td>
                        <td class="tabco3" >{{ commande.refarticle }}</td>
                        <td class="tabco1" >Désignation</td>
                        <td class="tabco3" >{{ commande.designation }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Référence cde client</td>
                        <td class="tabco3" >{{ commande.refcdclient }}</td>
                        <td class="tabco1" >QTE CDEES</td>
                        <td class="tabco3" >{{ commande.qtecdee }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Décor 1ère face</td>
                        <td class="tabco3" >{{ commande.dec1 }}</td>
                        <td class="tabco1" >Décor 2émee face</td>
                        <td class="tabco3" >{{ commande.dec2 }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >autre instruction décor (2)</td>
                        <td class="tabco3" >{{ commande.autredec }}</td>
                        <td class="tabco1" >Couleur</td>
                        <td class="tabco3" >{{ commande.couleur }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Position</td>
                        <td class="tabco3" >{{ commande.position }}</td>
                        <td class="tabco1" >1ère cde/bat</td>
                        <td class="tabco3" >{{ commande.cdebat }}</td>
                    </tr>

                    <tr>
                        <td class="tabco1" >cond & pal</td>
                        <td class="tabco3" >{{ commande.condpal }}</td>
                        <td class="tabco1" >Cp</td>
                        <td class="tabco3" >{{ commande.cp }}</td>
                    </tr>

                    <tr>
                        <td class="tabco1" >Ville Dépôt Client</td>
                        <td class="tabco3" >{{ commande.villedep }}</td>
                        <td class="tabco1" >INSTRUCTION 1</td>
                        <td class="tabco3" >{{ commande.instruction1 }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Expédition</td>
                        <td class="tabco3" >{{ commande.expedition }}</td>
                        <td class="tabco1" >info1 fiche client</td>
                        <td class="tabco3" >{{ commande.info1c }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >info2 fiche client</td>
                        <td class="tabco3" >{{ commande.info2c }}</td>
                        <td class="tabco1" >Consignes cond.info cde</td>
                        <td class="tabco3" >{{ commande.condinfo }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Consignes up info cde</td>
                        <td class="tabco3" >{{ commande.upinfo }}</td>
                        <td class="tabco1" >Consignes contrôle info cde</td>
                        <td class="tabco3" >{{ commande.controleinfo }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Consignes divers 1 info cde</td>
                        <td class="tabco3" >{{ commande.devers1info }}</td>
                        <td class="tabco1" >Consignes divers 2 info cdet</td>
                        <td class="tabco3" >{{ commande.devers2info }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Bat</td>
                        <td class="tabco3" >{% if commande.bat == null %}  {% else %} <a href="{{ commande.bat.src }}" target="_blank" class="btn btn-default">Voir BAT</a>{% endif %} </td>
                        <td class="tabco1" >E.Palette</td>
                        <td class="tabco3" >{% if commande.eplt == null %}  {% else %} <a href="{{ commande.eplt.src }}" target="_blank" class="btn btn-default">Etiquette Palette</a>{% endif %} </td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Commande XSL</td>
                        <td class="tabco3" >{% if commande.cxsl == null %}  {% else %} <a href="{{ commande.cxsl.src }}" target="_blank" class="btn btn-default">Commande XSL</a>{% endif %} </td>
                        <td class="tabco1" >Commande PDF</td>
                        <td class="tabco3" >{% if commande.cpdf == null %}  {% else %} <a href="{{ commande.cpdf.src }}" target="_blank" class="btn btn-default">Commande PDF</a>{% endif %} </td>
                    </tr>
                    </tbody>
                </table>
                    <div class="row" style=" margin: 1%;   background: #a2ccf1;padding: 2%;">
                        {{ form_start(edit_form) }}
                        <div class="col-md-12" style="    background:#eeeff14d;border-radius: 1%; padding: 2%;">
                            <div class="col-md-2">


                                <span class="pull-left" style="padding: 10px">
                                    <i class="btn btn-sm btn-success" >
                                        <label for="gestionpolebundle_commandes_etatqlt">
                                            Validé
                                        </label>
                                        {{ form_widget(edit_form.etatqlt) }}
                                    </i>
                                </span>

                            </div>
                            <div class="col-md-8">


                                 <span class="pull-left" style="padding: 10px" >
                                                <i class="btn btn-sm btn-danger" >
                                                    <label for="gestionpolebundle_commandes_refuse">
                                                        Refuser
                                                    </label>
                                                    {{ form_widget(edit_form.refuse) }}</i>
                                 </span>


                                <br>
								<p>Si refuser laisser une Remarque</p>

                                {{ form_widget(edit_form.Commentaire, {'value' : '...'}) }}
                            </div>

                        </div>

                        <input type="submit" class="btn btn-primary" value="Enregistrer"  style="float: right"/>
                        {{ form_end(edit_form) }}
                    </div>

                    <div class="col-md-12" style="margin-top: 10px;">
                        <div class="col-md-2 col-md-offset-6">

                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('comd-reçu') }}" class="btn btn-default" style="float: left">Retour à la liste</a>
                        </div>
                      
                    </div>




            </div>
            <!--row-->





{% endblock %}