{% extends 'layout-qualite/base.html.twig' %}
{% block body %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <div class="row">
        <table class="table table-condensed table-hover">
            <tr class="tabco3">

                <th class="tabco3" colspan="4">Commande N°{{ commande.id }}</th>

            </tr>
            <tbody>
            <tr>
                <td class="tabco1" >N° Compte Client</td>
                <td class="tabco3" > {{ commande.numcompte }}</td>
                <td class="tabco1" >N° Pièce</td>
                <td class="tabco3">{{ commande.numpiece }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Date décoration</td>
                <td class="tabco3" >{% if commande.dateDeco %}{{ commande.dateDeco|date('Y-m-d') }}{% endif %}</td>

                <td class="tabco1" >Date de départ</td>
                <td class="tabco3" >{% if commande.datedep %}{{ commande.datedep|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <td class="tabco1" >AC</td>
                <td class="tabco3" >{{ commande.ac }}</td>
                <td class="tabco1" >IMPERATIF</td>
                <td class="tabco3" >{{ commande.imperatif }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Référence Article</td>
                <td class="tabco3" >{{ commande.refarticle }}</td>
                <td class="tabco1" >Désignation</td>
                <td class="tabco3" >{{ commande.designation }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Référence cde client</td>
                <td class="tabco3" >{{ commande.refcdclient }}</td>
                <td class="tabco1" >QTE CDEES</td>
                <td class="tabco3" >{{ commande.qtecdee }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Décor 1ère face</td>
                <td class="tabco3" >{{ commande.dec1 }}</td>
                <td class="tabco1" >Décor 2émee face</td>
                <td class="tabco3" >{{ commande.dec2 }}</td>
            </tr>
            <tr>
                <td class="tabco1" >autre instruction décor (2)</td>
                <td class="tabco3" >{{ commande.autredec }}</td>
                <td class="tabco1" >Couleur</td>
                <td class="tabco3" >{{ commande.couleur }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Position</td>
                <td class="tabco3" >{{ commande.position }}</td>
                <td class="tabco1" >1ère cde/bat</td>
                <td class="tabco3" >{{ commande.cdebat }}</td>
            </tr>

            <tr>
                <td class="tabco1" >cond & pal</td>
                <td class="tabco3" >{{ commande.condpal }}</td>
                <td class="tabco1" >Cp</td>
                <td class="tabco3" >{{ commande.cp }}</td>
            </tr>

            <tr>
                <td class="tabco1" >Ville Dépôt Client</td>
                <td class="tabco3" >{{ commande.villedep }}</td>
                <td class="tabco1" >INSTRUCTION 1</td>
                <td class="tabco3" >{{ commande.instruction1 }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Expédition</td>
                <td class="tabco3" >{{ commande.expedition }}</td>
                <td class="tabco1" >info1 fiche client</td>
                <td class="tabco3" >{{ commande.info1c }}</td>
            </tr>
            <tr>
                <td class="tabco1" >info2 fiche client</td>
                <td class="tabco3" >{{ commande.info2c }}</td>
                <td class="tabco1" >Consignes cond.info cde</td>
                <td class="tabco3" >{{ commande.condinfo }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Consignes up info cde</td>
                <td class="tabco3" >{{ commande.upinfo }}</td>
                <td class="tabco1" >Consignes contrôle info cde</td>
                <td class="tabco3" >{{ commande.controleinfo }}</td>
            </tr>
            <tr>
                <td class="tabco1" >Consignes divers 1 info cde</td>
                <td class="tabco3" >{{ commande.devers1info }}</td>
                <td class="tabco1" >Consignes divers 2 info cdet</td>
                <td class="tabco3" >{{ commande.devers2info }}</td>
            </tr>
            <tr>
                <td class="tabco4" >Remarque</td>
                <td  colspan="3" class="tabco1" >{{ commande.commentaire }}</td>

            </tr>
            <tr>

                {{ form_start(edit_form) }}
                <td  colspan="2" >
                                <span class="pull-left"style="">
                        <i class="btn btn-sm btn-success" >{{ form_widget(edit_form) }}</i>
                    </span>
                </td>
                <td  colspan="2" >
                    <input type="submit" class="btn btn-primary" value="Enregistrer"  style="float: right"/>
                    {{ form_end(edit_form) }}
                </td>

            </tr>
            <tr>


                <td colspan="3" >

                </td>
                <td colspan="1" >
                
                    <a href="{{ path('liste-commande') }}" class="btn btn-default" style="float: right">Retour à la liste</a>

                </td>

            </tr>




            </tbody>
        </table>
    </div>
    <!--row-->




{% endblock %}