{% extends 'layout-admin/base.html.twig' %}
{% block body %}


    <table class="table table-striped">
    <tbody>
    <tr>
        <td style="background: #337ab7;"><h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ajouter<small style="color:honeydew;">Nouveau Utilisateur</small></h1></td>
    </tr>
    <td colspan="1" style="background: #337ab7;">
        <div class="well form-horizontal" style="background-color: #e4e6e8;">

    <div class="well form-horizontal">
    {{ form_start(form)}}

                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nom</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                                {{ form_errors(form.username) }}
                                {{ form_widget(form.username,{  'attr': { 'class' : 'form-control','placeholder': 'Votre nom' } } )}}

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Prenom</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                {{ form_errors(form.prenom) }}
                                {{ form_widget(form.prenom,{  'attr': { 'class' : 'form-control','placeholder': 'Votre prenom' } } )}}
                            </div>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Addresse</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                {{ form_errors(form.adresse) }}
                                {{ form_widget(form.adresse,{  'attr': { 'class' : 'form-control','placeholder': 'Votre adresse' } } )}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Télephone</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                {{ form_errors(form.tel) }}
                                {{ form_widget(form.tel,{  'attr': { 'class' : 'form-control','placeholder': 'Votre numéro de télephone' } } )}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Email</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email,{  'attr': { 'class' : 'form-control','placeholder': 'Votre email' } } )}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mot de passe</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_widget(form.plainPassword.first,{  'attr': { 'class' : 'form-control','placeholder': 'Mot de passe' } } )}}
                            </div>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Confirmation du mot de passe</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                {{ form_errors(form.plainPassword.second) }}
                                {{ form_widget(form.plainPassword.second,{  'attr': { 'class' : 'form-control','placeholder': 'Confirmation du mot de passe' } } )}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">selectioner son Role</label>
                        <div class="col-md-8">



                            {{ form_widget(form.pole,{  'attr': { 'class' : 'form-control' } } )}}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Choisir un pole</label>
                        <div class="col-md-8">



                                {{ form_widget(form.roles)}}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">activer ce compte</label>
                        <div class="col-md-2 inputGroupContainer" >

                                {{ form_widget(form.enabled)}}
                            </div>
                        </div>

                   <input type="submit" class="btn btn-primary" value="Ajouter"  style="float: right;" />

                </fieldset>
        {{ form_end(form) }}
       </div>
        </div>
    </td>
    </tr>
    </tbody>
</table>










{% endblock %}