{% extends 'layout-admin/base.html.twig' %}
{% block body %}

    <table class="table table-striped">
        <tbody>
        <tr>
            <td style="background: #5e7588;">
                <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Modifier<small style="color:honeydew;">un  Utilisateur</small></h1>
            </td>
        </tr>
        <td colspan="1" style="background: #5e7588;">
            <div class="well form-horizontal" style="background-color: #f3f6f9;">

                <div class="well form-horizontal" style="background-color: #e4e6e8;">
                    {{ form_start(edit_form) }}

                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nom</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>


                                    {{ form_widget(edit_form.username,{  'attr': { 'class' : 'form-control' } } )}}

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Prenom</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                                    {{ form_widget(edit_form.prenom,{  'attr': { 'class' : 'form-control'} } )}}
                                </div>


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Addresse</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>

                                    {{ form_widget(edit_form.adresse,{  'attr': { 'class' : 'form-control' } } )}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Télephone</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>

                                    {{ form_widget(edit_form.tel,{  'attr': { 'class' : 'form-control' } } )}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>

                                    {{ form_widget(edit_form.email,{  'attr': { 'class' : 'form-control' } } )}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mot de passe</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                                    {{ form_widget(edit_form.plainPassword.first,{  'attr': { 'class' : 'form-control','placeholder': 'Mot de passe' } } )}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Confirmation du mot de passe</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                                    {{ form_widget(edit_form.plainPassword.second,{  'attr': { 'class' : 'form-control','placeholder': 'Confirmation du mot de passe' } } )}}
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-md-4 control-label">Choisir un pole</label>
                            <div class="col-md-8">



                                {{ form_widget(edit_form.roles)}}

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">activer ce compte</label>
                            <div class="col-md-2 inputGroupContainer">

                                {{ form_widget(edit_form.enabled)}}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"   style="float: right;" ><em class="glyphicon glyphicon-ok"></em> Modifier</button>



                    </fieldset>
                    {{ form_end(edit_form) }}
                    <div class="text-right" style="margin-top: 8px">
                    {{ form_start(delete_form) }}
                    <button type="submit"   class="btn btn-danger"> <em class="glyphicon glyphicon-trash"></em> Supprimer</button>
                    {{ form_end(delete_form) }}
                    </div>
               </div>
            </div>
        </td>
        </tr>
        </tbody>
    </table>










{% endblock %}