{% extends 'layout-admin/base.html.twig' %}
{% block body %}

<style></style>
    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">

        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Listes Utilisateurs</h3>
            <a href="{{ path('user_new') }}" type="button" class="btn btn-primary ribbon" style="float: right;margin-top: -20px;">Ajouter Nouveau Utilisateur</a>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Activation</th>
                    <th>Rôle</th>
                    <th>Action</th>

                </tr>
                {% for user in users %}

                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.adresse }}</td>
                        <td>{% if user.enabled %}<span class="label label-success">Active</span>{% else %}<span class="label label-danger">Désactivée</span>{% endif %}</td>

                        <td> {% for role in user.roles if role != 'ROLE_USER' %}
                        {{ role }}
                    {% endfor %}</td>
                        <td>


                                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-info"><em class="glyphicon glyphicon-edit"></em></a>



                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}