{% extends 'espace-client/base.html.twig' %}
{% block body %}


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Profile {{ utilisateur.username }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" class="img-circle img-responsive"> </div>


                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Prenom:</td>
                                        <td>{{ utilisateur.prenom }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nom:</td>
                                        <td>{{ utilisateur.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nom entreprise</td>
                                        <td>{{ utilisateur.entreprise }}</td>
                                    </tr>
                                    <tr>
                                        <td>Numéro de l'entreprise</td>
                                        <td>{{ utilisateur.numEntreprise }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{ utilisateur.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Telephone</td>
                                        <td>{{ utilisateur.tel }}</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Region</td>
                                        <td>{{ utilisateur.region }}</td>
                                    </tr>

                                    <tr>
                                        <td>Ville</td>
                                        <td>{{ utilisateur.ville }}</td>
                                    </tr>
                                    <tr>
                                        <td>Adresse</td>
                                        <td>{{ utilisateur.adresse }}</td>
                                    </tr>
                                    <tr>
                                        <td>Code Postale</td>
                                        <td>{{ utilisateur.codpostal }}</td>
                                    </tr>




                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                       <span class="pull-right">
                            <a href="" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}