{% extends 'espace-client/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Gestion des factures</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    
                    <th>N°Commande</th>
                    <th>Quantité</th>
                    <th>Stock</th>
                    <th>Désignation</th>
                    <th>Référence</th>
                    <th>Etat BL</th>
                    <th >Facturation</th>
                    <th colspan="2">Action</th>


                </tr>
                {% for commande in commandes %}
                    <tr>

                        
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.qtecdee }}</td>
                        <td>{{ commande.refarticle.quantite }}</td>
                        <td>{{ commande.designation }}</td>
                        <td>{{ commande.refarticle }}</td>
                        <td>{% if  commande.bl ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                        <td>

                            {% if  commande.facture ==1  %}
                                <span class="label label-warning">Déjà facturé</span>{% else %}
                                <form method="post" action="{{ path('facturation',{ 'id' : commande.id }) }}">
                                    <div style="" type="hidden">

                                        <input type="hidden"  class="form-control" name="etatlog" id="etatlog" value="{{ commande.etatlog }}" required>
                                    </div>

                                    <input type="submit" class="btn btn-info" value="facturée">
                                </form>
                            {% endif %}
                        </td>
                        <td colspan="2">
                              <a href="{{ path('facture', { 'id' : commande.id }) }}" class="btn btn-danger">PDF</a>


                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}