{% extends 'espace-client/base.html.twig' %}
{% block body %}
    <style>
        textarea.form-control {
            height: auto;
            min-height: 150px !important;
            min-width: 200px ;
        }
        label {

            padding-right: 17px;
        }
    </style>


    <table class="table table-striped">
    <tbody>
    <tr>
        <td style="background: #89c2f3;"><h1><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Nouveau<small style="color:honeydew;"> Stock</small></h1></td>
    </tr>
    <td colspan="1" style="background: #89c2f3;">
    <div class="well form-horizontal">
    {{ form_start(form)}}
    <fieldset>
    <div class="col-md-12">

    <div class="col-md-8">
        <div class="form-group">
            <label class="col-md-5 control-label">Référence Article</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.reference,{'attr':{'class':'form-control'}}) }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-md-5 control-label">Désignation</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.designation,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-md-5 control-label">Type</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.type,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-md-5 control-label">Quantité</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.quantite,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>



    </div>




    <input type="submit" class="btn btn-primary" value="Commander"  style=""/>
    </fieldset>
    {{ form_end(form) }}
    </div>
    </td>
    </tr>
    </tbody>
    </table>



{% endblock %}