{% extends 'espace-client/base.html.twig' %}
{% block body %}
<style>
    textarea.form-control {
        height: auto;
        min-height: 150px !important;
        min-width: 200px ;
    }
    label {

        padding-right: 17px;
    }
</style>


    <table class="table table-striped">
    <tbody>
    <tr>
<td style="background: #89c2f3;"><h1><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Créer une Commande</h1></td>
</tr>
    <td colspan="1" style="background: #89c2f3;">
    <div class="well form-horizontal">
    {{ form_start(form)}}
    <fieldset>
    <div class="col-md-12">

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">N° Compte Client</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>{{ form_widget(form.numcompte,{'attr':{'class':'form-control'}}) }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">N° Pièce</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.numpiece,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Date décoration</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.dateDeco,{'attr':{'class':'form-control'}}) }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">  Date départ</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.datedep,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">AC</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.ac,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">SI IMPERATIF noter OUI</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.imperatif,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Référence Article</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                     {{ form_widget(form.refarticle,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Désignation</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.designation,{'attr':{'class':'form-control'}}) }}  </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Référence cde client</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.refcdclient,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">QTE CDEES</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.qtecdee,{'attr':{'class':'form-control'}}) }}  </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Décor 1ère face</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.dec1,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Décor 2eme face</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.dec2,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">autre instruction décor (2)</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.autredec,{'attr':{'class':'form-control'}}) }}  </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">couleur</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.couleur,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">CP</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.cp,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">1ère cde/bat</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.cdebat,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">position</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.position,{'attr':{'class':'form-control'}}) }}  </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">cond & pal</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.condpal,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Ville Dépôt Client</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.villedep,{'attr':{'class':'form-control'}}) }}  </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">INSTRUCTION 1</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.instruction1,{'attr':{'class':'form-control'}}) }}  </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Expédition</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.expedition,{'attr':{'class':'form-control'}}) }}   </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">info1 fiche client</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.info1c,{'attr':{'class':'form-control'}}) }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">info2 fiche client</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.info2c,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Consignes cond.info cde</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.condinfo,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Consignes up info cde</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.upinfo,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Consignes contrôle info cde</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.controleinfo,{'attr':{'class':'form-control'}}) }}   </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Consignes divers 1 info cde</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.devers1info,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Consignes divers 2 info cdet</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.devers2info,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">Prix Decoration</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.prix_dec,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-5 control-label">ft(Surcoût):</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.ft,{'attr':{'class':'form-control'}}) }} </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">Joindre BAT</label>
            <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                    {{ form_widget(form.bat) }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">Joindre E.palette</label>
            <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                    {{ form_widget(form.eplt) }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">Joindre Commande xsl</label>
            <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                    {{ form_widget(form.cxsl) }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">Joindre Commande pdf</label>
            <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                    {{ form_widget(form.cpdf) }}</div>
            </div>
        </div>
    </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-5 control-label">Date Livraison</label>
                <div class="col-md-7 inputGroupContainer">
                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        {{ form_widget(form.dateliv,{'attr':{'class':'form-control'}}) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">

                <div class="col-md-6">
                    <label class="control-label">Livraison par AZS?</label>
                    {{ form_widget(form.liv_azs,{'attr':{'class':''}}) }} </div>
            </div>
        </div>

    <div class="col-md-12">




<div style="margin-left: 2%">
    <label class="control-label">Conditionnement:</label> <input type="checkbox" id="myCheck"  onclick="myFunction()" required></div>


        <div id="text" style="display:none ; " >
<div class="row" style="background: #07467d38; padding: 2% 5%; border-radius: 15px; margin: 1%;">
        <div class="col-md-12">
            <div class="form-group">

                <div class="">

                    {{ form_widget(form.conditionnement,{'attr':{'class':''}}) }}

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Si spécifique décrire votre conditionnement ici: </label>

                <div class="">
                    {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }} </div>

            </div>
        </div>

        </div>
        </div>

        <script>
            function myFunction() {
                var checkBox = document.getElementById("myCheck");
                var text = document.getElementById("text");
                if (checkBox.checked == true){
                    text.style.display = "block";
                } else {
                    text.style.display = "none";
                }
            }
        </script>


    </div>




    <input type="submit" class="btn btn-primary" value="Commander"  style="float: right;"/>
    </fieldset>
    {{ form_end(form) }}
    </div>
    </td>
    </tr>
    </tbody>
    </table>



{% endblock %}