{% extends 'espace-client/base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-info">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1info" data-toggle="tab">Commandes Acceptée</a></li>
                    <li><a href="#tab2info" data-toggle="tab"> Commandes Refuser</a></li>


                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1info">
                        <div class="panel-body">
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>num commande</th>
                                    <th>Référence Article</th>
                                    <th>QTE CDEES</th>
                                    <th>Etat</th>
                                    <th>Raison</th>


                                </tr>
                                {% for commande in commandes %}
                                    <tr>
                                        <td>{{ commande.id }}</td>
                                        <td>{{ commande.refarticle }}</td>
                                        <td>{{ commande.qtecdee }}</td>
                                        <td>{% if  commande.refuse ==1  %}<span class="label label-danger">Refuser</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                                        <th>{{ commande.Commentaire }}</th>
                                    </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2info">



                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--Latest User-->



{% endblock %}