{% extends 'espace-client/base.html.twig' %}
{% block body %}
    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title">  Liste Stockages </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Id</th>
                    <th>Référence</th>
                    <th>Designation</th>
                    <th>Type</th>
                    <th>Quantite</th>

 <th>Etat</th>

                </tr>
                {% for stockage in stockages %}
                    <tr>
                        <td><a href="{{ path('stockage_show', { 'id': stockage.id }) }}">{{ stockage.id }}</a></td>
                        <td>{{ stockage.reference }}</td>
                        <td>{{ stockage.designation }}</td>
                        <td>{{ stockage.type }}</td>
                        <td>{{ stockage.quantite }}</td>
 <td>{% if  stockage.statut ==1  %}<span class="label label-success">stockage arrivée</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                                   
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>




{% endblock %}