{% extends 'espace-client/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Mes factures</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    
                    <th>N°Commande</th>
                    <th>Quantité</th>
                    <th>Mode paiment</th>
                    <th>Transport</th>
                    <th>Date d'échéance</th>
                    
                    <th >Etat facture</th>
                    <th colspan="2">Action</th>


                </tr>
                {% for fact in factures %}
				{% if fact.commande.utilisateur.id == utilisateur.id %}
                    <tr>

                        
                        <td>{{ fact.commande.id }}</td>
                        <td>{{ fact.commande.qtecdee }}</td>
                        <td>{{ fact.modep }}</td>
                        <td>{{ fact.transport }}</td>
                        <td>{{ fact.datech |date('d-m-Y')}}</td>
						{% if  fact.etat ==1  %}
                        <td>

                            
                                <span class="label label-success">Déjà facturé</span>
                            
                        </td>
                        <td colspan="2">
                              <a href="{{ path('facture', { 'id' : fact.id }) }}" target="_blank" class="btn btn-danger">PDF</a>


                        </td>
						{% else %}
						 <td>

                          <span class="label label-danger">Non facturé</span>
                            
                        </td>
                        <td >
                            
                        </td>
						{% endif %}
                    </tr>
					
                {% endif %}
                {% endfor %}
            </table>

        </div>
    </div>
    <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }

        $('.modal').on('show.bs.modal', centerModal);
        $(window).on("resize", function () {
            $('.modal:visible').each(centerModal);
        });
    </script>

{% endblock %}