{% extends 'espace-client/base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-info">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1info" data-toggle="tab">Commande acceptées</a></li>
                   

                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1info">
                        <div class="panel-body">
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>N°Commande</th>
                                    <th>Référence</th>
                                    <th>Quantité</th>
									<th>Date de livraison</th>
                                    <th>Réception</th>
                                    <th>Production</th>
                                    <th>Qualité</th>
                                    <th>Logistique</th>
									
                                </tr>
                                {% for commande in commandes %}
                                    <tr>
                                        <td>{{ commande.id }}</td>
                                        <td>{{ commande.refarticle }}</td>
                                        <td>{{ commande.qtecdee }}</td>
										<td>{{ commande.dateliv|date('d-m-Y') }}</td>
                                        <td>{% if  commande.etatcomd ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                                        <td>{% if  commande.etatprod ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                                        <td>{% if  commande.etatqlt ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                                        <td>{% if  commande.marchandise ==1  %}<span class="label label-success">Validé</span>{% else %}<span class="label label-warning">En attente </span>{% endif %} </td>
                                   
										</tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
               


                </div>
            </div>
        </div>
    </div>

    <!--Latest User-->



{% endblock %}