{% extends 'espace-client/base.html.twig' %}
{% block body %}
<style>
    .form_main {
        width: 100%;
    }
    .form_main h4 {
        font-family: roboto;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .heading {
        border-bottom: 1px solid #fcab0e;
        padding-bottom: 9px;
        position: relative;
    }
    .heading span {
        background: #9e6600 none repeat scroll 0 0;
        bottom: -2px;
        height: 3px;
        left: 0;
        position: absolute;
        width: 75px;
    }
    .form {
        border-radius: 7px;
        padding: 6px;
    }
    .txt[type="text"] {
        border: 1px solid #ccc;
        margin: 10px 0;
        padding: 10px 0 10px 5px;
        width: 100%;
    }
    .txt_3[type="text"] {
        margin: 10px 0 0;
        padding: 10px 0 10px 5px;
        width: 100%;
    }
    .txt2[type="submit"] {
        background: #242424 none repeat scroll 0 0;
        border: 1px solid #4f5c04;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        line-height: 35px;
        margin: 10px 0;
        padding: 0;
        text-transform: uppercase;
        width: 30%;
    }
    .txt2:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: #5793ef;
        transition: all 0.5s ease 0s;
    }

</style>
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html" style="padding: 3% 5%">
    <div class="row" style="padding: 2% 6%">
        <div class="col-md-7">
            <div class="form_main">
                <h4 class="heading"><strong>Nouveau </strong> Ticket <span></span></h4>
                <div class="form">
                    {{ form_start(form) }}
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="subject">
                                    Référence Commande</label>
                                {{ form_widget(form.reference,{'attr':{'class':'form-control'}}) }}
                            </div>



                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="subject">
                                    Votre demande concerne</label>
                                {{ form_widget(form.pole,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="subject">
                                choix support</label>
                            {{ form_widget(form.support,{'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Continuer votre Ticket</button>
                        </div>

                        {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">

        </div>
    </div>
</div>

{% endblock %}