{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etiquettes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbrpiece</th>
                <th>Nbrcarton</th>
                <th>Nbrplt</th>
                <th>Crtincomplet</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for etiquette in etiquettes %}
            <tr>
                <td><a href="{{ path('etiquette_show', { 'id': etiquette.id }) }}">{{ etiquette.id }}</a></td>
                <td>{{ etiquette.nbrpiece }}</td>
                <td>{{ etiquette.nbrcarton }}</td>
                <td>{{ etiquette.nbrplt }}</td>
                <td>{{ etiquette.crtincomplet }}</td>
                <td>{{ etiquette.total }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etiquette_show', { 'id': etiquette.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etiquette_edit', { 'id': etiquette.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etiquette_new') }}">Créer une nouvelle étiquette</a>
        </li>
    </ul>
{% endblock %}
