{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etiquette creation</h1>
    <div class="col-sm-12">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>


    <ul>
        <li>
            <a href="{{ path('etiquette_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
