{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etiquette</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etiquette.id }}</td>
            </tr>
            <tr>
                <th>Nbrpiece</th>
                <td>{{ etiquette.nbrpiece }}</td>
            </tr>
            <tr>
                <th>Nbrcarton</th>
                <td>{{ etiquette.nbrcarton }}</td>
            </tr>
            <tr>
                <th>Nbrplt</th>
                <td>{{ etiquette.nbrplt }}</td>
            </tr>
            <tr>
                <th>Crtincomplet</th>
                <td>{{ etiquette.crtincomplet }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ etiquette.total }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etiquette_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('etiquette_edit', { 'id': etiquette.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
