{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numcompte</th>
                <th>Numpiece</th>
                <th>Ac</th>
                <th>Datedeco</th>
                <th>Datedep</th>
                <th>Imperatif</th>
                <th>Refarticle</th>
                <th>Désignation</th>
                <th>Refcdclient</th>
                <th>Qtecdee</th>
                <th>Dec1</th>
                <th>Dec2</th>
                <th>Autredec</th>
                <th>Couleur</th>
                <th>Position</th>
                <th>Cdebat</th>
                <th>Condpal</th>
                <th>Cp</th>
                <th>Villedep</th>
                <th>Instruction1</th>
                <th>Expedition</th>
                <th>Info1c</th>
                <th>Info2c</th>
                <th>Condinfo</th>
                <th>Upinfo</th>
                <th>Controleinfo</th>
                <th>Devers1info</th>
                <th>Devers2info</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commandes_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>{{ commande.numcompte }}</td>
                <td>{{ commande.numpiece }}</td>
                <td>{{ commande.ac }}</td>
                <td>{% if commande.dateDeco %}{{ commande.dateDeco|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if commande.datedep %}{{ commande.datedep|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ commande.imperatif }}</td>
                <td>{{ commande.refarticle }}</td>
                <td>{{ commande.designation }}</td>
                <td>{{ commande.refcdclient }}</td>
                <td>{{ commande.qtecdee }}</td>
                <td>{{ commande.dec1 }}</td>
                <td>{{ commande.dec2 }}</td>
                <td>{{ commande.autredec }}</td>
                <td>{{ commande.couleur }}</td>
                <td>{{ commande.position }}</td>
                <td>{{ commande.cdebat }}</td>
                <td>{{ commande.condpal }}</td>
                <td>{{ commande.cp }}</td>
                <td>{{ commande.villedep }}</td>
                <td>{{ commande.instruction1 }}</td>
                <td>{{ commande.expedition }}</td>
                <td>{{ commande.info1c }}</td>
                <td>{{ commande.info2c }}</td>
                <td>{{ commande.condinfo }}</td>
                <td>{{ commande.upinfo }}</td>
                <td>{{ commande.controleinfo }}</td>
                <td>{{ commande.devers1info }}</td>
                <td>{{ commande.devers2info }}</td>
                <td>{% if commande.etatcomd %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commandes_show', { 'id': commande.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commandes_edit', { 'id': commande.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commandes_new') }}">Créer une nouvelle commande</a>
        </li>
    </ul>
{% endblock %}
