{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">
    <h1>Commande</h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <div id="PricingTab">
        <div class="container">
            <h2>Commande N°{{ commande.id }} </h2>
            <hr class="White-Yellow">
            <div class="row">
                <table class="table table-condensed table-hover">
                    <tr class="tabco3">

                        <th class="tabco3" colspan="4">Commande N°{{ commande.id }}</th>

                    </tr>
                    <tbody>
                    <tr>
                        <td class="tabco1" >Numcompte</td>
                        <td class="tabco3" > {{ commande.numcompte }}</td>
                        <td class="tabco1" >Numpiece</td>
                        <td class="tabco3">{{ commande.numpiece }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Datedep</td>
                        <td class="tabco3" >{% if commande.datedep %}{{ commande.datedep|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td class="tabco1" >Datedeco</td>
                        <td class="tabco3" >{% if commande.dateDeco %}{{ commande.dateDeco|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >AC</td>
                        <td class="tabco3" >{{ commande.ac }}</td>
                        <td class="tabco1" >Imperatif</td>
                        <td class="tabco3" >{{ commande.imperatif }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Refarticle</td>
                        <td class="tabco3" >{{ commande.refarticle }}</td>
                        <td class="tabco1" >Designation</td>
                        <td class="tabco3" >{{ commande.designation }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Refcdclient</td>
                        <td class="tabco3" >{{ commande.refcdclient }}</td>
                        <td class="tabco1" >Qtecdee</td>
                        <td class="tabco3" >{{ commande.qtecdee }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Dec1</td>
                        <td class="tabco3" >{{ commande.dec1 }}</td>
                        <td class="tabco1" >Dec2</td>
                        <td class="tabco3" >{{ commande.dec2 }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Autredec</td>
                        <td class="tabco3" >{{ commande.autredec }}</td>
                        <td class="tabco1" >Couleur</td>
                        <td class="tabco3" >{{ commande.couleur }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Position</td>
                        <td class="tabco3" >{{ commande.position }}</td>
                        <td class="tabco1" >Cdebat</td>
                        <td class="tabco3" >{{ commande.cdebat }}</td>
                    </tr>

                    <tr>
                        <td class="tabco1" >Condpal</td>
                        <td class="tabco3" >{{ commande.condpal }}</td>
                        <td class="tabco1" >Cp</td>
                        <td class="tabco3" >{{ commande.cp }}</td>
                    </tr>

                    <tr>
                        <td class="tabco1" >Villedep</td>
                        <td class="tabco3" >{{ commande.villedep }}</td>
                        <td class="tabco1" >Instruction1</td>
                        <td class="tabco3" >{{ commande.instruction1 }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Expedition</td>
                        <td class="tabco3" >{{ commande.expedition }}</td>
                        <td class="tabco1" >Info1c</td>
                        <td class="tabco3" >{{ commande.info1c }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Info2c</td>
                        <td class="tabco3" >{{ commande.info2c }}</td>
                        <td class="tabco1" >Condinfo</td>
                        <td class="tabco3" >{{ commande.condinfo }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Upinfo</td>
                        <td class="tabco3" >{{ commande.upinfo }}</td>
                        <td class="tabco1" >Controleinfo</td>
                        <td class="tabco3" >{{ commande.controleinfo }}</td>
                    </tr>
                    <tr>
                        <td class="tabco1" >Devers1info</td>
                        <td class="tabco3" >{{ commande.devers1info }}</td>
                        <td class="tabco1" >Devers2info</td>
                        <td class="tabco3" >{{ commande.devers2info }}</td>
                    </tr>
                    <tr>

                            {{ form_start(edit_form) }}
                        <td  colspan="2" >
                             <span class="pull-left"style="margin-top: -20px;">
                        <i class="btn btn-sm btn-success" >{{ form_widget(edit_form) }}</i>
                    </span>
                        </td>
                        <td  colspan="2" >
                            <input type="submit" class="btn btn-success" value="Validé"  style="float: right"/>
                            {{ form_end(edit_form) }}
                        </td>

                    </tr>
                    <tr>


                        <td colspan="3" >

                        </td>
                        <td colspan="1" >
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete" class="btn btn-danger" style="float: right">
                            {{ form_end(delete_form) }}
                            <a href="{{ path('commandes_index') }}" class="btn btn-default" style="float: left">Back to the list</a>

                        </td>

                    </tr>




                    </tbody>
                </table>
                </div>
           <!--row-->
        </div><!--container-->
    </div><!--PricingTab-->


{% endblock %}
