{% extends 'base.html.twig' %}

{% block body %}
    <h1>BL list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nompiece</th>
                <th>Qtentre</th>
                <th>Qtsort</th>
                <th>Crtcomplet</th>
                <th>Crtincomplet</th>
                <th>Nbrpalet</th>
                <th>Nompalet</th>
                <th>Prixdec</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for bilan in bilans %}
            <tr>
                <td><a href="{{ path('bilan_show', { 'id': bilan.id }) }}">{{ bilan.id }}</a></td>
                <td>{{ bilan.nompiece }}</td>
                <td>{{ bilan.qtentre }}</td>
                <td>{{ bilan.qtsort }}</td>
                <td>{{ bilan.crtcomplet }}</td>
                <td>{{ bilan.crtincomplet }}</td>
                <td>{{ bilan.nbrpalet }}</td>
                <td>{{ bilan.nompalet }}</td>
                <td>{{ bilan.prixdec }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bilan_show', { 'id': bilan.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bilan_edit', { 'id': bilan.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bilan_new') }}">Create a new bilan</a>
        </li>
    </ul>
{% endblock %}
