{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bilan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bilan.id }}</td>
            </tr>
            <tr>
                <th>Nompiece</th>
                <td>{{ bilan.nompiece }}</td>
            </tr>
            <tr>
                <th>Qtentre</th>
                <td>{{ bilan.qtentre }}</td>
            </tr>
            <tr>
                <th>Qtsort</th>
                <td>{{ bilan.qtsort }}</td>
            </tr>
            <tr>
                <th>Crtcomplet</th>
                <td>{{ bilan.crtcomplet }}</td>
            </tr>
            <tr>
                <th>Crtincomplet</th>
                <td>{{ bilan.crtincomplet }}</td>
            </tr>
            <tr>
                <th>Nbrpalet</th>
                <td>{{ bilan.nbrpalet }}</td>
            </tr>
            <tr>
                <th>Nompalet</th>
                <td>{{ bilan.nompalet }}</td>
            </tr>
            <tr>
                <th>Prixdec</th>
                <td>{{ bilan.prixdec }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bilan_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bilan_edit', { 'id': bilan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
