{% extends 'layout-admin/base.html.twig' %}
{% block body %}
    <div class="row user-infos cyruxx">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.prenom }}{{ user.username }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                            <img class="img-circle"
                                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                 alt="User Pic">
                        </div>
                        <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                            <img class="img-circle"
                                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                 alt="User Pic">
                        </div>

                        <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                            <strong>{{ user.prenom }}{{ user.username }}</strong><br>
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Nom entreprise</td>
                                    <td>{{ user.entreprise }}</td>
                                </tr>
                                <tr>
                                    <td>Numéro de l'entreprise</td>
                                    <td>{{ user.numEntreprise }}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{ user.email }}</td>
                                </tr>
								
                                <tr>
                                    <td>Téléphone</td>
                                    <td>{{ user.tel }}</td>
                                </tr>

                                <tr>
                                <tr>
                                    <td>Région</td>
                                    <td>{{ user.region }}</td>
                                </tr>

                                <tr>
                                    <td>Ville</td>
                                    <td>{{ user.ville }}</td>
                                </tr>
                                <tr>
                                    <td>Adresse</td>
                                    <td>{{ user.adresse }}</td>
                                </tr>
                                <tr>
                                    <td>Code Postale</td>
                                    <td>{{ user.codpostal }}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <div class="panel-footer" style="padding: 37px 15px;">
                    {{ form_start(edit_form) }}

                    <span class="pull-left"style="margin-top: -20px;">
                        <i class="btn btn-sm btn-success" >{{ form_widget(edit_form.roles) }}</i>
                    </span>
                    <br>

            <span class="pull-right">
                    <button class="btn btn-sm btn-info" type="submit"  ><i class="glyphicon glyphicon-edit"></i> Validé</button>
                  </span>
                    {{ form_end(edit_form) }}

                </div>
            </div>
        </div>
    </div>







{% endblock %}