{% extends 'layout-admin/base.html.twig' %}
<link href="{{ asset('css/table.css') }}" rel="stylesheet">
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Listes Utilisateurs</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Activation</th>
                    <th>Role</th>
                    <th>Action</th>

                </tr>
                {% for user in users %}

                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.adresse }}</td>
                        <td>{% if user.enabled %}<span class="label label-success">Active</span>{% else %}<span class="label label-danger">Désactivée</span>{% endif %}</td>

                        <td> {% for role in user.roles if role != 'ROLE_USER' %}
                        {{ role }}
                    {% endfor %}</td>
                        <td>


                                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-info"><em class="glyphicon glyphicon-edit"></em></a>

                                  

                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <table class="points_table">
        <thead>
        <tr>
            <th class="col-xs-1">#</th>
            <th class="col-xs-7">Team</th>
            <th class="col-xs-1">S</th>
            <th class="col-xs-1">M</th>
            <th class="col-xs-1">L</th>
            <th class="col-xs-1">O</th>
        </tr>
        </thead>

        <tbody class="points_table_scrollbar">
        <tr class="odd">
            <td class="col-xs-1">1</td>
            <td class="col-xs-7">Test Points</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">2</td>
            <td class="col-xs-7">Test Points 2</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">3</td>
            <td class="col-xs-7">Test Points 3</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">4</td>
            <td class="col-xs-7">Test Points 4</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">5</td>
            <td class="col-xs-7">Test Points 5</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">6</td>
            <td class="col-xs-7">Test Points 6</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">7</td>
            <td class="col-xs-7">Test Points 7</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">8</td>
            <td class="col-xs-7">Test Points 8</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">9</td>
            <td class="col-xs-7">Test Points 9</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">10</td>
            <td class="col-xs-7">Test Points 10</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">11</td>
            <td class="col-xs-7">Test Points 11</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">12</td>
            <td class="col-xs-7">Test Points 12</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">13</td>
            <td class="col-xs-7">Test Points 13</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">14</td>
            <td class="col-xs-7">Test Points 14</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">15</td>
            <td class="col-xs-7">Test Points 15</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">16</td>
            <td class="col-xs-7">Test Points 16</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">17</td>
            <td class="col-xs-7">Test Points 17</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">18</td>
            <td class="col-xs-7">Test Points 18</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="odd">
            <td class="col-xs-1">19</td>
            <td class="col-xs-7">Test Points 19</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>

        <tr class="even">
            <td class="col-xs-1">20</td>
            <td class="col-xs-7">Test Points 20</td>
            <td class="col-xs-1">10</td>
            <td class="col-xs-1">0</td>
            <td class="col-xs-1">5</td>
            <td class="col-xs-1">1</td>
        </tr>
        </tbody>
    </table>


{% endblock %}