{% extends 'layout-admin/base.html.twig' %}
{% block body %}

<style>
    .panel-body {
        padding: 15px;

    }
    .panel-body .btn:not(.btn-block) {
        width: 80%;
        padding-top: 6%;
        margin-left: 9%;
        padding-bottom: 7%;
        margin-bottom: 29px;
    }

</style>

    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">

                    <div class="panel-body" style="background-color: #c0c3c3;">
                        <div class="row">
                            <div class="col-xs-12 col-md-12" style="margin-top: 50px;">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6" style="padding: 0% 5%">
                                    <a href="{{path('pole-commande') }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-import"></span> <br/>Pôle Reception Commande</a>
                                </div>
                                <div class="col-md-3">
                                </div>


                            </div>
                            <div class="col-xs-12 col-md-12" style="margin-top: 10px;">
                                <div class="col-md-5">
                                    <a href="{{path('pole-production') }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-folder-open"></span> <br/>Pôle Production</a>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    <a href="{{path('pole-technique') }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-cog"></span> <br/>Pôle Technique</a>

                               </div>


                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="col-md-5">
                                    <a href="{{ path('pole-conditionement') }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tags"></span> <br/>Pôle Conditionnement </a>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    <a href="{{path('pole-qualite') }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-indent-left"></span> <br/>Pôle Qualité</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="col-md-5">
                                    <a href="{{ path('pole-logistique') }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tasks"></span> <br/>Pôle Logistique </a>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    <a href="{{path('pole-facturation') }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-indent-left"></span> <br/>Pôle Facturation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">

        </div>
    </div>




{% endblock %}