{% extends 'layout-admin/base.html.twig' %}
{% block body %}
    <style>
        .form_main {
            width: 100%;
        }
        .form_main h4 {
            font-family: roboto;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 15px;
            margin-top: 20px;
            text-transform: uppercase;
        }
        .heading {
            border-bottom: 1px solid #fcab0e;
            padding-bottom: 9px;
            position: relative;
        }
        .heading span {
            background: #F44336 none repeat scroll 0 0;
            bottom: -2px;
            height: 3px;
            left: 0;
            position: absolute;
            width: 35%;
        }
    </style>
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html" style="padding: 3% 5%">

        <div class="form_main">
            <div class="" ><h4 class="heading"><strong style="color: #e00505;">Alerte dépassement date </strong> <span></span></h4></div>



            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1info">
                        <div class="panel-body">
                            <table class="table table-striped table-hover">
                                <tr>
                                <tr>
                                    <th>N°Commande</th>
                                    <th>Client</th>
                                    <th>Date limite</th>
                                    <th>Date de livraison</th>

                                </tr>

                                </tr>
    {% for comd in commandes %}
        {% if comd.dateliv < comd.dateprd  %}
            {% if comd.misejour == 1 %}
                                    <tr>
                                        <td>{{ comd.numcomd }}</td>
                                        <td>{{ comd.utilisateur.username }}</td>
                                        <td>{{ comd.dateliv|date('Y-m-d') }}</td>
                                        <td>{{ comd.dateprd|date('Y-m-d') }}</td>
                                    </tr>
                {% else %}
                    <tr style=" background-color: #fbe5e5;">
                        <td>{{ comd.numcomd }}</td>
                        <td>{{ comd.utilisateur.username }}</td>
                        <td>{{ comd.dateliv|date('Y-m-d') }}</td>
                        <td>{{ comd.dateprd|date('Y-m-d') }}</td>
                    </tr>
                {% endif %}
        {% endif %}
    {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}