{% set count = 0 %}


        {% for comd in commandes %}
            {% if comd.dateliv < comd.dateprd  %}


                {% set count = count + 1 %}
            {% endif %}
        {% endfor %}

       {% if count < 1 %}
           <a href="{{ path('alerte') }}" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Alerte dépassement date</a>
       {% else %}
           <a href="{{ path('alerte') }}" class="list-group-item" style="background: #f7c3c2;"><span class="glyphicon glyphicon-pencil" aria-hidden="true">
		   </span> Alerte dépassement date

               <span style="    background: #fd5d5d; padding: 2%; border-radius: 32%;    color: white;">{{ count }}</span>
           </a>
       {% endif %}