{% extends 'layout-admin/base.html.twig' %}
{% block body %}


    <!--Latest User-->
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading"style="background-color: #bcdbf5;">
            <h3 class="panel-title"> Listes commandes</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>N°Commande</th>
                    <th>Utilisateur</th>
                    <th>N° compte client</th>
                    <th>N°pièce</th>
                    <th>Date souhaitée</th>
                    <th>Etat cmd</th>

                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.utilisateur.username }}</td>
                        <td>{{ commande.numcompte }}</td>
                        <td>{{ commande.numpiece }}</td>
                        <td>{% if commande.datedep %}{{ commande.datedep|date('d-m-Y') }}{% endif %}</td>
                        <td>{% if  commande.etatcomd ==1  %}
                          validé
                            {% else %}
                                En attente
                    {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}