{% extends 'layout-admin/base.html.twig' %}
{% block body %}
    <style>
        .form_main {
            width: 100%;
        }
        .form_main h4 {
            font-family: roboto;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 15px;
            margin-top: 20px;
            text-transform: uppercase;
        }
        .heading {
            border-bottom: 1px solid #fcab0e;
            padding-bottom: 9px;
            position: relative;
        }
        .heading span {
            background: #9e6600 none repeat scroll 0 0;
            bottom: -2px;
            height: 3px;
            left: 0;
            position: absolute;
            width: 75px;
        }
        th,td{
            border: 1px solid #ddd!important;
        }
    </style>
    <div class="panel panel-default" xmlns="http://www.w3.org/1999/html" style="padding: 3% 5%">

        <div class="form_main">
            <div class="" ><h4 class="heading"><strong>Ramassage </strong> <span></span></h4></div>

            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1info">
                        <div class="panel-body">
                            <table class="table table-striped table-hover">
                                <tr>
                                <tr>
                                    <th style="text-align: center">N°Commande</th>
                                    <th style="text-align: center">Qté Entrée |<span style="color: #2e96bf"> Date</span></th>
                                    <th style="text-align: center">Qté Rebus</th>
                                    <th style="text-align: center">Qté Sortie |<span style="color: #2e96bf"> Date</span></th>

                                </tr>

                                </tr>
                                {% for ramassage in ramassages %}
                                    <tr>
                                        <td style="text-align: center">{{ ramassage.commande.id}}</td>
                                        <td style="text-align: center"><strong>{{ ramassage.commande.refarticle.quantite }}</strong>  | <span style="color: #2e96bf"> {{ ramassage.commande.refarticle.date|date('Y-m-d') }}</span></td>
                                        <td style="text-align: center">{{ ramassage.rebus }}</td>
                                        <td style="text-align: center"><strong>{{ ramassage.commande.qtecdee }} </strong>  | <span style="color: #2e96bf">{{ ramassage.commande.dateprd|date('Y-m-d') }}</span></td>
                                   </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}