

{% extends 'layout-admin/base.html.twig' %}
{% block body %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="row" style="padding: 1% 10% 5%; background: white;" >
        <table class="table table-condensed table-hover">
            <tr class="tabco3">

                <th class="tabco3" colspan="2">Stock N°{{ stockage.id }}</th>

            </tr>
            <tbody>
            <tr>
                <td class="tabco2" >Référence</td>
                <td class="tabco3" > {{ stockage.reference }}</td>

            </tr>
            <tr>
                <td class="tabco2" >Désignation</td>
                <td class="tabco3" >{{ stockage.designation }}</td>

            </tr>
            <tr>


                <td class="tabco2" >Type</td>
                <td class="tabco3" >{{ stockage.type }}</td>
            </tr>
            <tr>
                <td class="tabco2" >Quantité</td>
                <td class="tabco3" >{{ stockage.quantite }}</td>

            </tr>

            </tbody>
        </table>



        <div class="row" style=" margin: 1%;   background: #a2ccf1;padding: 2%;">
            {{ form_start(edit_form) }}
            <div class="col-md-12" style="    background:#eeeff14d;border-radius: 1%; padding: 2%;">
                <div class="col-md-3">


                                <span class="pull-left" style="padding: 10px">
                                    <i class="btn btn-sm btn-success" >
                                        <label for="gestionpolebundle_commandes_etatcomd">Enregistrer cet Stockage ?</label>
                                        {{ form_widget(edit_form.statut) }}
                                    </i>
                                </span>

                </div>


            </div>

            <input type="submit" class="btn btn-primary" value="Enregistrer"  style="float: right"/>
            {{ form_end(edit_form) }}
        </div>






    </div>
    <!--row-->







{% endblock %}
