<!DOCTYPE html>
<html lang="en">
<style>
#header {
    background: #020f58 !important;
   
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
   
    background-color: #011067 !important;
  
}
a.list-group-item, button.list-group-item {
    color: #555;
    font-size: 17px;
    padding: 4% 4%;
}
    .jumbotron {
	padding-top: 22px !important;
    padding-bottom: 22px !important;

        color: white !important;
        text-align: center;
            background-color: #020f58eb !important;
    }
    .well {
        background-color: #89beec;
        border: 1px solid #e3e3e3;
        padding: 5%;
    }
    textarea.form-control {

        min-height: 109px;
    }
    .btn-primary {
        color: #fff;
        background-color: #034e8e !important;
        border-color: #337ab7 !important;
    }
</style>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
        <title>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" >
    </head>

    <body>
 <!--header-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="active"> 
                            <a href="{{ path('user_homepage') }}">
                                Retour au Menu Principale</a>
                        </li>

                </ul>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#"> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username},'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>


                    </ul>


                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">  <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messagerie interne<small></small></h1>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </header>
    <br>
 <!--/header-->
 <section id="main">
     <div class="container" style="width: 95%;">
         <div class="row">
  <!--menu-->
                <div class="col-md-3">

                    <div class="list-group">
                        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            GESTION Messagerie
                        </a>
                        <a href="{{ url('fos_message_inbox') }}" class="list-group-item">{% trans from 'FOSMessageBundle' %}
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Boîte de réception{% endtrans %}</a>
                        <a href="{{ url('fos_message_sent') }}" class="list-group-item">{% trans from 'FOSMessageBundle' %}
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages Envoyés{% endtrans %}</a>

                        <a href="{{ url('fos_message_deleted') }}" class="list-group-item">{% trans from 'FOSMessageBundle' %}
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Messages Supprimés{% endtrans %}</a>
                    </div>





                </div>
  <!-- /menu-->
                <div class="col-md-9" style="background: white; border-radius: 10px">
                    <!--div class="jumbotron jumbotron-sm">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <h1 class="h1">{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h1>
                                </div>
                            </div>
                        </div>
                    </div -->

                    {% block fos_message_content %}{% endblock %}
                </div>

            </div>

        </div>
        </div>
    </section>
 <footer id="footer">
     <p>© 2018 APPLICATION. All Rights Reserved </p>
 </footer>






        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    </body>
</html>
