{% extends 'base.html.twig' %}

{% block body %}
    <h1>Factures list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Num</th>
                <th>Date</th>
                <th>Datech</th>
                <th>Regl</th>
                <th>Notva</th>
                <th>Qte</th>
                <th>Modep</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td><a href="{{ path('facture_show', { 'id': facture.id }) }}">{{ facture.id }}</a></td>
                <td>{{ facture.num }}</td>
                <td>{% if facture.date %}{{ facture.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if facture.datech %}{{ facture.datech|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ facture.regl }}</td>
                <td>{{ facture.notva }}</td>
                <td>{{ facture.qte }}</td>
                <td>{{ facture.modep }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facture_show', { 'id': facture.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('facture_edit', { 'id': facture.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facture_new') }}">Créer une nouvelle facture</a>
        </li>
    </ul>
{% endblock %}
