{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Num</th>
                <td>{{ facture.num }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if facture.date %}{{ facture.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datech</th>
                <td>{% if facture.datech %}{{ facture.datech|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Regl</th>
                <td>{{ facture.regl }}</td>
            </tr>
            <tr>
                <th>Notva</th>
                <td>{{ facture.notva }}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ facture.qte }}</td>
            </tr>
            <tr>
                <th>Modep</th>
                <td>{{ facture.modep }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('facture_edit', { 'id': facture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
