<div class="col-md-3">

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            STATS COMMANDE
        </a>
        <a href="{{ path('liste-commandes') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commandes reçues</a>
        <a href="{{ path('commandes-accepter') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commandes acceptées</a>
        <a href="{{ path('cmd-product') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commandes en production</a>
       <a href="{{ path('cmd-trait') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commandes traitées</a>
       <a href="{{ path('gestionbl') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Gestion des BL </a>
        {{ render(controller('GestionPoleBundle:Admin:alert')) }}
    </div>




    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            STATS STOCKAGE
        </a>
       <a href="{{ path('liststock') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Stockage</a>
 <a href="{{ path('ramassage') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Ramassages</a>

    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            CONNEXION
        </a>
        <a href="{{ path('user_index') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Gestion Admin</a>
        <a href="{{path('pole-commande') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Réception</a>
        <a href="{{path('pole-technique') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Technique</a>
        <a href="{{path('pole-production') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Production</a>
        <a href="{{path('pole-qualite') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Qualitée</a>
        <a href="{{path('pole-logistique') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Logistique </a>

    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            GESTION CLIENT
        </a>
        <a href="{{ path('list_client') }}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Nouveau Client</a>
        <a href="{{ path('inbox-administration') }}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> SAV Client</a>

    </div>

</div>
